[2019-02-14 17:03] SRGOM opened #1 "Add a gitter channel please"
Not too keen on making a new account on Slack. Nor happy about the super heavy slack client (until yours comes along :))

[2019-02-14 17:03] SRGOM opened #2 "Can you release the closed-source compiler right now for us to play?"
I am not crazy about open-source unlike others so would be okay with trying your compiler- I want to see the GUI story.

[2019-02-15 17:46] medvednikov commented on #1
Done!

https://gitter.im/vlang-io

[2019-02-15 17:48] medvednikov commented on #1
Embarrassed to admit I never heard about it, but it looks nice: open source, nice API, IRC integration.

I'll add it to Volt.

[2019-02-15 17:48] #1 closed

[2019-02-15 17:51] medvednikov commented on #2
Hi,

I'd love to release it as quickly as possible, but what you are asking can't be done right now. It will take too much time, and I have a huge backlog.

In late February vlang.io will have an online playground (like play.golang.org), so at least you'll have access to the compiler there (no GUI though).

[2019-02-15 17:51] #2 closed

[2019-02-15 20:07] medvednikov opened #3 "Just published the first V example to show you some features of the language. Very interested in your input."
Very interested in your input.

https://github.com/vlang-io/V/blob/master/examples/users.v
https://github.com/vlang-io/V/blob/master/examples/hello_world_gui.v
https://github.com/vlang-io/V/blob/master/examples/generic_repository.v

[2019-02-19 09:42] ducdetronquito commented on #3
Hi @medvednikov !

My answer will be off-topic: I just wanted to thank you for what you are doing with Volt and V, both look very promising !

I see a huge amount of feature requests, and I juste wanted to say: Take your time, good softwares takes time. It's easy to get overwhelmed building Free softwares: sometimes it's better to say "no" or "not for now" :)

Have a good day !

[2019-02-21 18:58] xorhash commented on #3
Here's an assortment of thoughts:

From a Ruby and C background, I quite appreciate constants having to be uppercase. It also helps grepability (you *know* that you have to `grep 'const CONSTANT_HERE' -r *` if you want to find the value of a constant).

You may already want to put special thought into the HTTP library since I assume it will see a lot of usage. In particular, you may want to suppor

[2019-02-21 19:23] medvednikov commented on #3
Hi @xorhash

Thanks a lot for your detailed feedback!

Absolutely!

Just like in go: `os.exit(1)`

`err` value is set with `return error(error_msg)`. Error message can be fetched via gettext for example.

Can you explain what you mean?

`println` supports everything that has a `str()` method. Arrays have that predefined.
So `println([1,2,3])` will print `[1, 2, 3]` :)

Very good question. Will be

[2019-02-21 19:25] medvednikov commented on #3
Or did you mean what happens if we call `print([]User)`? Compilation error :)

[2019-02-21 19:28] medvednikov commented on #3
As for `'`, I only want to have one main way of denoting strings. V will automatically replace `"` with `'` if there's no apostrophes in it.

I might remove `"` entirely and force developers to just escape apostrophes.

[2019-02-21 19:32] medvednikov commented on #3
Now that I thought about it, introducing a second way to denote strings with `"` just to avoid escaping apostrophes is not worth it. I will remove `"` from the language.

Fewer rules, less complexity. :)

[2019-02-21 19:39] burlesona commented on #3
Just curious, why not go the other way with strings, and only use double quotes?

That seems more cross language consistent as it means you get variable interpolation etc., and in my experience apostrophes are much more common in strong literals than double quotes, so if you’re going to pick one the double quotes will require less escaping.

[2019-02-21 19:41] burlesona commented on #3
Also, off topic, but since the above is my first post on your project I just wanted to say hello! V looks fantastic, take the good stuff of Go and make it even better (to me anyway).

Would love to help if there’s any way I can. Please let me know :)

[2019-02-21 19:45] slimsag commented on #3
Will you keep raw string literals (backticks) from Go?

[2019-02-21 19:48] medvednikov commented on #3
@burlesona JSON is very popular right now, and it has lots of `"`.

Also to me `'` look cleaner in the code and don't require shift.

But I had your exact thoughts, maybe I'll do that.

@slimsag `'` behaves exactly like `\`` in Go.

[2019-02-21 19:58] burlesona commented on #3
@medvednikov yeah it’s kind of tricky to balance, I think this is why most languages have a few string literal options :)

Maybe a block string literal syntax like Ruby’s heredoc (or many other examples) is a viable alternative for things like JSON input? But it does result in more than one way to make a string, which I agree isn’t perfect.

Or finally, less easy to type, but you could just go str

[2019-02-21 20:02] slimsag commented on #3
@medvednikov Not true -- `'` is a rune literal in Go and cannot contain multiple characters nor newlines, in contrast ` is a raw string literal supporting multiple characters and newlines

- Example: https://play.golang.org/p/6iVhZAWMU9n
- https://golang.org/ref/spec#String_literals
- https://golang.org/ref/spec#Rune_literals

[2019-02-21 21:12] oliwer commented on #3
Hello @medvednikov and congratulations for V! It seems to solve many of Go's issues and could be a nice "better C". A few questions:
 - since your functions are all lowercase, how do you differentiate between local and exported functions?
 - can you tell us more about the what the runtime will do and how do you handle memory management compared to Go?
 - how do you declare a character/rune if `'`

[2019-02-21 21:33] medvednikov commented on #3
Hi @oliwer

It's going to be either `pub` or some symbol like in Oberon.

There's no runtime, memory management will be similar to Rust.

Backticks  are used for characters. Which feels a bit weird.

Are there keyboard layouts that don't require shift to write `"`?

Thanks! I did some Perl in the past, that might have influenced the syntax :)

It already does.

[2019-02-21 21:46] slimsag commented on #3
Would be cool to see an example of generics somewhere!

[2019-02-22 01:45] boyter commented on #3
+1 to seeing some example of generics.

[2019-02-22 07:36] krlvi opened #5 "Where can I download the compiler?"
Apologies if I am missing something obvious but I could not find a link. Another question I have is, is there a mailing list / google group?
Thanks

[2019-02-22 11:20] rrjanbiah commented on #3
OT: Will it be possible to convert Go code to V?

[2019-02-22 12:20] medvednikov commented on #3
@slimsag @boyter I'll add  an example with Generics soon.

@rrjanbiah yes, but coroutines and channels have to be implemented first.

[2019-02-22 13:03] International commented on #3
Hi @medvednikov , does volt also use generics in it's codebase? Does it affect the compile times much?

[2019-02-22 13:23] medvednikov commented on #5
Hi @krlvi

As the website says, the language will be released in mid 2019.

You will be able to play with it using an online playground in March.

I've just created a mailing list:

https://groups.google.com/forum/#!forum/vlang

[2019-02-22 13:23] #5 closed

[2019-02-22 13:25] medvednikov commented on #3
@International no.

V compiler also used to rely on generics to implement arrays and maps, but then I replaced them and made the code smarter (similar to Go's slices and maps).

There will be a way for users to create their own generic containers without generating extra code for each type and slowing down compilation time.

[2019-02-22 14:33] medvednikov commented on #3
I've added an example with generics:

https://github.com/vlang-io/V/blob/master/examples/generic_repository.v

[2019-02-22 22:20] citycide commented on #3
I think it looks pretty good. I like a lot of the semantic choices you've made even if I don't particularly like some of Go's syntax that you're inheriting. I'm sure I'd get used to it though (except `[]User` vs `User[]` that'll drive me insane :laughing:).

Immutability and first-class optionals (`T?`) with those nifty `or` blocks are great. I'm not sure I fully understand the way the `or` block

[2019-02-23 01:44] medvednikov commented on #3
Hey @citycide

Thanks for your feedback!

Yes, I initially called it `retrieve` :) Fixed.

Can you write a small example?

Not yet. Most likely there will be one. Need to think about the details.

Same :)

[2019-02-23 02:12] Francesco149 commented on #3
I'm very skeptical about the "400 KB compiler with zero dependencies" part. It just transpiles to C and then compiles with gcc/clang, doesn't it? that implies a dependency on gcc or clang. can the V compiler emit machine code by itself?

[2019-02-23 02:54] medvednikov commented on #3
@Francesco149 this is a discussion about the syntax of the language.

V can compile to machine code directly, as well as to C.

[2019-02-23 03:17] dsnippet commented on #3
Saw a couple of user examples that you published. V Looks interesting.
Since I could not get enough information from the user examples, here are some basic questions that come to my mind.

1. Does V (plan to) support OOP, inheritance, polymorphism etc?
2. Parallelism?
3. Systems Programming, as in support for pointers etc. I am confused since V seems to support inline assembly code but somewhere i

[2019-02-23 03:35] dsnippet commented on #3
Also ABI compatibility with C/C++. Is it possible to link in  C/C++ functions directly in V?

[2019-02-23 04:27] medvednikov commented on #3
@dsnippet

1) No, it will be exactly like Go. Structs, embedding, interfaces.
2) Yes. Again, same as Go.
3) Yes.
4) No.
5) Right now you can call any C function:
`C.puts('hello world!')`

[2019-02-23 05:01] awesomekyle commented on #3
As someone who spends 98% of his time in C & C++ and has no experience with Go, any sort of "V for C Programmers" documentation would be very helpful. 😄 Looking forward to seeing V's release!

[2019-02-23 06:12] medvednikov commented on #3
@awesomekyle V is language that can be learned in an hour.

A documentation/tutorial page will be out soon, and you'll see ;)

[2019-02-23 06:45] quackenbush opened #6 ".v file extension is Verilog"
Hi, this looks like a cool language.  However using .v is not a wise choice, as this has been used for the Verilog language for the past 25 years.

https://fileinfo.com/extension/v

[2019-02-23 10:10] lasselindqvist commented on #3
users.v says "V will automatically format and align your code." Does this mean the compiler changes the source files by formatting them?

[2019-02-23 13:29] xorhash commented on #3
Sorry for the late response. I'd sent the message without finishing my thougts there. Is it accurate that a variable identifier can be any character that is printable and not `$` or `.`? What is the source code file encoding (or is it always based on system locale)?

---

Assume you have a section of code like this:

[code]

Do you make any guarantees that the exact equivalent C code is output? Th

[2019-02-23 14:21] medvednikov commented on #3
@lasselindqvist

yes

@xorhash

No, letters, numbers, and underscore only.

UTF-8

You mean, will the resulting C code be the same? Right now, yes.

[2019-02-23 14:43] ducdetronquito commented on #3
Linting code tends in general to be done by an external tool; and IDE, a CLI tool, etc...
It could be beneficial for the V compiler to avoid doing task that it do not *needs* to do :)

[2019-02-23 15:15] medvednikov commented on #3
I know, that's different. But due to the design and philosophy of the language, it's a necessity.

[2019-02-23 16:17] rrjanbiah commented on #3
OT: Perhaps all OT should be in https://groups.google.com/forum/m/#!forum/vlang

[2019-02-23 21:41] loic-sharma commented on #3
I don't have a background in Go, so this syntax feels strange to me:

[code]

What're your thoughts on [Uniform Function Call Syntax](https://en.wikipedia.org/wiki/Uniform_Function_Call_Syntax)? Something like:

[code]

This is great for method chaining too:

[code]

This is looking great, I can't wait to play around with the language when it's released! :)

[2019-02-23 22:16] medvednikov commented on #3
Hi @loic-sharma

One of the main philosophies of V is to make code readable, maintainable, and predictable.

One of the requirements for this is having only one way of doing things. Every single feature of the language has only one right way. The exception right now is string literals (see the `'` vs `"` discussion).

If uniform function call syntax is implemented, every single function can be cal

[2019-02-23 22:39] loic-sharma commented on #3
That's a fair response. There's nothing wrong with the existing syntax, it's just different for people that aren't used to Go. I'm sure we can get used to it 😄

[2019-02-24 04:51] medvednikov commented on #3
Just published the first draft of the documentation. So far it covers the basics.
https://vlang.io/docs

[2019-02-24 06:22] boyter commented on #6
It also happens to be the same extension used by Coq https://github.com/coq/coq

I was looking to add this into https://github.com/boyter/scc/ and realized the extension is shared. Perhaps something such as `vlang`? Not sure what to do here. You can of course use `v` if you choose but it is going to be an issue for existing tools.

[2019-02-24 06:30] genuinebyte commented on #6
If `vlang` is too long we could also consider `vl`. It's not indexed by [fileinfo](https://fileinfo.com/search) and doesn't appear to be in [soc](https://github.com/boyter/scc/).

[2019-02-24 06:49] calebwin commented on #6
Why wasn't Verilog `.vl` like how Prolog is `.pl`? 🤔

`.vl` could be an option though.

[2019-02-24 08:04] xorhash commented on #3
The documentation tipped me off to it, but why does `const API_URL = 'https://vlang.io/users.json'` use `=` rather than `:=`?

It also seems weird to name a `while` loop `for`. Maybe just call it `loop` since the condition is optional?

[2019-02-24 08:18] xenophilicibex commented on #6
I much prefer the simplicity of `.v`. I doubt many people will encounter conflicts between the two file types. Just my two cents.

[2019-02-24 13:02] medvednikov commented on #6
Agree with @xenophilicibex

At this point conflicts with names and extensions are unavoidable. Modern tools are smart to distinguish between different languages.

Almost every extension you search for is used by multiple programs/languages.

[2019-02-24 13:07] medvednikov commented on #3
@xorhash simplicity and consistency with other languages.

Having only one keyword instead of three (`for`, `while`,  `loop) helps keep the language smaller and simpler.

`:=` is used for variable declaration, `const` is for consts.

[2019-02-24 13:32] oliwer commented on #3
By the way, you should mention in the documentation how to force the type of a variable. I suppose it would be like

 myByte := byte(255)
 myReal := float64(0) // 0.0

Another possibility, incompatible with Go but "cleaner" in the sense that we would have only one affectation operator (`=`) and `:=` would just be a short way of writing `myVar : auto = 123` :

 myByte : byte = 255
 myReal : float64

[2019-02-24 14:03] medvednikov opened #7 "The first draft of the documentation is live"
https://vlang.io/docs

Right now it only covers the basics.

[2019-02-24 14:17] medvednikov commented on #3
@oliwer updated, thanks.

[2019-02-24 14:49] tim-st commented on #3
The language looks very promising!
In my opinion code is easier to read when the types are named `int`, `intX`, `uint`, `uintX`, `float32`, `float64` and `fn` is named `func` (like in Go). And also the string syntax should be the same like in Go (in my opinion).

[2019-02-24 15:10] andrenth commented on #3
Do you plan to introduce constructors in V? My biggest issue with go is the lack of constructors due to default empty values for everything. It’s effectively impossible to prevent instantiation with invalid state.

[2019-02-24 15:11] medvednikov commented on #3
@tim-st V is being designed also for game development and science. Since conversions have to be implicit, there will be lots of `float64(` in the code. I think it's too verbose.

As for the function keyword, let's put it to vote:
https://twitter.com/vlang_io/status/1099687714042114049
:)

[2019-02-24 15:12] medvednikov commented on #3
@andrenth can you please post a simple example of instantiation with invalid state? Thanks.

[2019-02-24 15:15] medvednikov commented on #3
I myself find `u16` much more readable than `uint16`.

[2019-02-24 15:22] oliwer commented on #3
@andrenth

But you can already write constructors in Go (and I assume it's the same for V):

    func NewThing(a, b string) *Thing {
      return &Thing{a: a, b: b, c: "default"}
    }

[2019-02-24 15:37] andrenth commented on #3
@medvednikov, building on the example @oliwer gave, one can always do `t := Thing{}` and bypass constructor validation.

[2019-02-24 15:39] medvednikov commented on #3
Indeed, constructors are basically functions. Why complicate the language and introduce another construct.

Just like Go and Rust, V is not an OOP language. It has structs and powerful interfaces, that's it.

[2019-02-24 15:44] andrenth commented on #3
But in rust it works fine because you can’t directly instantiate a struct with private fields except via a function. In go you can bypass the function because everything has a default value.

I’m not asking for the language to be more complicated, just for a way to ensure the function(s) that build an object must be called.

[2019-02-24 15:45] medvednikov commented on #3
Can you please give a small example?

[2019-02-24 15:54] medvednikov commented on #3
@andrenth ok I see your point. I'll think about it.

[2019-02-24 15:54] andrenth commented on #3
In Go:

[code]

I think the core issue is “uninitialized fields/variables should be a compile time error instead of automatically initialized with an empty value”.

[2019-02-24 16:03] medvednikov commented on #3
Indeed, in Rust this won't compile:

[code]

By the way, you wrote that

But this is perfectly legal:

`let foo = Foo { a: 0, b: 1, c: false };`

Making uninitialized fields illegal won't really help since it won't prevent instantiation with invalid state:
`u := User{""}` can still be invalid.

This is an interesting problem.

[2019-02-24 17:14] andrenth commented on #3
In rust it’ll work in the same module, but not from outside. Uninitialized fields + private access works fine to protect against invalid state.

Of course, your own module can create invalid state, but the point is preventing users of your library to do it.

[2019-02-24 17:20] burlesona commented on #3
@medvednikov I have some thoughts on the initialization problem.

I know you're not looking to build an OOP oriented language, but in practice every language that has "objects" or "structs" in it faces some of the basic OOP issues. I've worked in Ruby for a long time, and it has some nice, elegant handling for many of these cases.

In Ruby you always make an object by calling the `new` method on t

[2019-02-24 18:32] medvednikov commented on #3
@andrenth

Would read-only struct fields solve this problem?

`user.Name` can be accessed, but `user.Name = ""` or `User{Name:""}` would result in a compilation error.

[2019-02-24 18:44] medvednikov commented on #3
@burlesona what you described is nice and works well in a language like Ruby.

V has a very different philosophy. Everything is transparent and straitforward. If a function is called, it should be clear.

Since there are no constructors, would you automatically call these validators on every  `.age = ... ` and `{age:...` ? :)

This reminds me of notorious C# properties a simple `user.Name` could c

[2019-02-24 18:53] medvednikov commented on #3
Or I guess you could call them only when the struct initialization syntax is used.

[2019-02-24 19:08] burlesona commented on #3
Sorry, I left this thought out of my write up:

I think it would be reasonable for every struct to have a ‘new’ function, and that it’s a no-op by default, but *can* be explicitly defined to put initialization behavior in if needed.

However I agree with you about the strictness and explicitness you’re going for. I think a declarative set of constraints on the properties of a struct is a nice way

[2019-02-24 19:26] burlesona commented on #3
To reply more specifically to “should these be called on every .age=“

I would say yes, but keeping in mind that your ability to declare constraints is pretty limited (in a good way).

But let’s explore what you’ll need if you don’t do that.

Can you define custom types with some constraint behavior? If so, simply making an Age or FirstName type with the relevant constraints would have the same ef

[2019-02-24 19:28] quackenbush commented on #6
For example, Github uses Linguist (https://github.com/github/linguist) to do its syntax highlighting.

Here is Linguist's programming language dictionary: https://github.com/github/linguist/blob/master/lib/linguist/languages.yml#L5157

Verilog is assigned the .v extension.

This is why your example source code on Github has partial highlighting:  https://github.com/vlang-io/V/blob/master/examples/

[2019-02-24 19:30] medvednikov commented on #6
Linguist supports languages with the same extension.

[2019-02-24 19:33] medvednikov commented on #3
They are initialized to zero values (0 for int, "" for string, Foo{} for struct)

I suggested read-only struct fields. Maybe even by default. They solve this problem.

[2019-02-24 20:43] burlesona commented on #3
Yeah I agree properties being read only is a nice way to handle that. I will say though it might be nice to have a shorthand for “copy and change,” for cases where you have a lot of properties and need to make a new object with some changes.

[2019-02-24 20:48] medvednikov commented on #3
Oh, absolutely, there’s going to be a syntax for that. (Similar to Clojure’s assoc)

[2019-02-24 22:02] andrenth commented on #3
I don’t see how read-only fields solve the invalid state problem if they’re initialized to zero values, but maybe I didn’t understand the proposal.

[2019-02-25 00:15] medvednikov commented on #3
@andrenth getting rid of automatic initialization won't solve the problem because people still can do things like `u := User{name:""}` and not initialize the object correctly.

Besides, it's a key feature of the language, lots of functionality relies on it. For example, Config structs which are used as a replacement for named arguments.

Making all fields in `User` read-only would make the example

[2019-02-25 00:18] medvednikov commented on #3
Or I could make it super strict: if there's at least one read-only field, manual initialization is not allowed, since technically `User{}` is the same as `User{name:""}`. But `name` is read-only and cannot be set from an outside module.

[2019-02-25 00:26] medvednikov commented on #3
Or I could just do what Rust does and not allow constructing using field names if there's at least one private field :)

In any case, it's a very important feature, and it will be implemented. Thanks for mentioning this @andrenth

[2019-02-25 00:34] medvednikov commented on #3
No protection of fields and package variables was one of my biggest gripes with Go.

The fact that it's possible to do stuff like this `os.Args = append(os.Args, "lol")` is ridiculous.

[2019-02-25 16:29] medvednikov commented on #3
Just added an example with some concurrency and mandatory locking:

https://github.com/vlang-io/V/blob/master/examples/concurrent_news_fetcher.v

[2019-02-25 16:35] calebwin commented on #3
Could you explain the `func main() {` and `go fn() {`?
Have you yet settled on a keyword for functions and just not updated it everywhere?

[2019-02-25 16:37] medvednikov commented on #3
It should be `fn`. Fixed.

This one has some unimplemented features, so I didn’t run it through the compiler.

[2019-02-25 16:37] calebwin commented on #6
Just curious - how is this typically done? simple heuristics?

[2019-02-25 16:38] medvednikov commented on #3
It’s based on this Go program I found:

https://pastebin.com/raw/RxTdTCKz

[2019-02-25 16:40] medvednikov commented on #6
From a discussion I read on Atom’s forums they do things like read the first line, and usually that covers 90% of the cases.

[2019-02-26 10:04] oliwer commented on #3
Interesting! Does that mean all access to variables defined outside the current thread must protected by a lock?

[2019-02-26 13:38] medvednikov commented on #3
@oliwer yes

[2019-02-26 18:38] medvednikov commented on #6
By the way @boyter what an amazing tool! I've been using cloc forever, and scc is 30 times faster!

[2019-02-26 21:10] boyter commented on #6
@medvednikov Thank you. A lot of work went into making it fast and accurate. The next release should have support for V as well once I finish off a few things, possibly in a day or two.

[2019-02-26 22:05] lnmds opened #8 "Compilation speed benchmark bias?"
(using https://github.com/vlang-io/V/blob/ffd6c1511ccbcd624b96cf730778b03309cf5eee/website/compilation_speed_test_gen.v as a reference)

All other languages include some kind of I/O or a `puts` / print calls on their benchmark codes, except V's benchmark code. Is there a reason for this?

[2019-02-26 22:11] medvednikov commented on #8
Good catch. Fixed.

Would be a ridiculous bias :)

I add files manually via GitHub editor here because I haven't set up the dual repository thing.

That's my changes don't often get synced. Originally I was printing only once.

The compilation time is 0.6s with the printing.

[2019-02-26 22:11] #8 closed

[2019-02-27 00:36] scurest commented on #3
Are things like `if`s and blocks expressions?

[2019-02-27 02:02] medvednikov commented on #3
@scurest not right now, but they will be.

[2019-02-27 10:25] scurest commented on #3
Cool, thanks!

In the example code on the language comparison page, the V example contains

[code]

If another thread has incremented `cursor` between the check in the for loop and taking the lock, the subscript `ids[cursor]` might be out-of-bounds. Can this happen?

I also wrote [a simpler Rust implementation](https://gist.github.com/scurest/ef98b57a3c7d45aeb1ce5e8d20f09a71).

[2019-02-27 14:45] medvednikov commented on #3
@scurest thanks, I'll update both examples.

[2019-02-27 15:41] medvednikov commented on #3
@scurest you implementation uses crossbeam, which is not part of Rust. The implementation I posted also uses 3rd party libs (it depends on hyper and rustc_serialize).

I understand Rust's philosophy of promoting use of 3rd party packages,
but after giving it a thought I realized that it's more fair to Go and V to only use the tools the language provides.
But is it even possible with Rust? It looks

[2019-02-27 16:23] medvednikov commented on #3
I think it's very important for languages with immutability by default to have if expressions:

`a := if condition { value1 } else { value2 }`

vs

[code]

[2019-02-27 16:25] oliwer commented on #3
Rob Pike would crucify you for doing that :D

On Wed, Feb 27, 2019, at 17:23, Alexander Medvednikov wrote:

if condition {
    a = value1
} else {
    a = value2
}
`

[2019-02-27 16:26] medvednikov commented on #3
Not really :) He’s pretty indifferent:

https://www.youtube.com/watch?v=p9VUCp98ay4&t=7m <https://www.youtube.com/watch?v=p9VUCp98ay4&t=7m>

[2019-02-27 20:08] PavelVozenilek opened #9 "Support for testing"
V language may support thorough and exploratory testing.

1] Tests could be written like this:

[code]

(I was able to to implement such terse syntax in C++, C and Nim.)

Adding new empty test is then matter of few seconds, there is no need to register anything, to import a test library, to invent a new name, nothing at all.

2] The tests could be optionally compiled in (or omitted) in both debug

[2019-02-27 22:38] boyter commented on #6
@medvednikov Have included V support into `scc`. I based it on what I have seen in the examples, so it may need some tweaks but should report the files correctly now I hope.

[2019-02-27 23:16] medvednikov commented on #6
Nice, thanks :)

[2019-02-28 21:48] andrenth commented on #9
Number 4 is really intriguing, but wouldn't it require an extra pointer indirection for every function call? Unless you declare some specific functions as "replaceable". Even then, it would be nice if this overhead would exist only during test runs.

[2019-03-01 13:44] nodrygo commented on #3
hello

yes French one ;- )

do you plan pre-release binaries (_ie_ before opening code source)

is _vlang_ aim to be free or will need payment other than donation ?

thanks

[2019-03-01 15:54] PavelVozenilek commented on #9
@andrenth: yes, those function would be accessed indirectly, but only when tests are compiled in. Which is not expected be too performance sensitive.

The compiler may generate two versions of replaced functions and all functions which use them. This would eliminate the overhead outside the tests, but it feels as overkill.

There may be a very special situation, where some tests are dedicated to p

[2019-03-01 16:03] PavelVozenilek commented on #9
Another possibly useful feature, especially for the generics. Tests which intentionally  _do not_ compile.

Sometimes it may be desirable to check that certain construct doesn't work. Possible syntax:

    TEST(does-not-compile)
    {
       ...
    }

The compiler would understand it as a special case, would check the code only for correct syntax (e.g. no unbalanced brackets), and then verify it

[2019-03-02 07:24] PavelVozenilek commented on #3
From the docs:

This would make  chain of ifs awkward:

[code]
If expressions would feel even worse.

This could be fixed in two ways:
1.  Adding `elif` keyword (preferred by me).
2. Adding exception to "always braces" rule.

Variant [1] would look like:

[code]

Variant [2] would look like:

[code]

[2019-03-02 18:51] jkaye2012 commented on #3
Manual index management in for loops feels like an eternal source of bugs that has existed forever. Why not use iterators/ranges instead? Or maybe this exists but it's just not documented yet? Given the auto-enumeration that's documented, I'm not sure that the c-style loop is ever really required? I do like that there is only a single looping construct though.

[2019-03-02 20:13] medvednikov commented on #3
@PavelVozenilek your second variant already works in V. It's just like in Go.

@jkaye2012 you can do `for num in numbers`, I decided to leave the C-style loop as a safer alternative to `while`.

[2019-03-02 20:51] PavelVozenilek commented on #3
@medvednikov: One more thing. It will be tempting to use if expression to isolate initialization code, like:

[code]

For such situations just a block could be used:

[code]

[2019-03-03 01:15] medvednikov commented on #6
The name and the extension are going to stay the same.

[2019-03-03 01:15] #6 closed

[2019-03-05 17:32] sam543381 commented on #3
Hi,
First of all thank you for what you're doing, I can't wait for V to be open-sourced !

Concerning the " vs ' debate, one argument for using " to delimit strings is the fact that some languages make use of ' in sentences (I am thinking about french or italian for instance).
[code]
VS
[code]

What about HTTP/2 ?
Do you plan to implement it ?
I am curious about how you would serve HTTP/2 ressourc

[2019-03-05 17:35] medvednikov commented on #3
Yes, I decided to have both “ and '.

HTTP 2 will be supported. V will have a strong standard library for building fast and efficient web services.

[2019-03-05 20:15] citycide commented on #3
@medvednikov coming back to our discussion about options [some time ago](https://github.com/vlang-io/V/issues/3#issuecomment-466603847):

Well essentially how would you translate all/any of [Rust's](https://doc.rust-lang.org/std/option/enum.Option.html#methods) or [F#'s](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/core.option-module-%5Bfsharp%5D) `Option` methods into V? The Rust

[2019-03-06 14:36] andrewla commented on #6
I know this is closed; my two cents would be to choose a trigram that is infrequently used. `.vvc` comes to mind as a good candidate; vvc.org is even available (and vvc.com is just a parked page), and as far as I can tell there is no current use of the file extension.  Going with a four-letter name, especially one that is not pronounceable, would move even further out of the collision range.

Havi

[2019-03-06 15:09] medvednikov commented on #6
vvc.org <http://vvc.org/> is not available, .v is not a frequently used extension.

[2019-03-07 01:27] medvednikov commented on #3
@citycide none of these are supported.

Can you give me an example where you need to use `Some("four").map(|value| value.len())` ?

[2019-03-07 03:16] citycide commented on #3
@medvednikov the point is you can operate on the value if it's present without needing to check if it's nil or missing, which is the entire proposition behind optional types / `Option`.

Obviously you wouldn't typically create a `Some` with a literal value like that before operating on it, the value would come from somewhere else. Then at the end of such a chain of `map`s/`flatMap`s etc. you'd use

[2019-03-08 13:33] jkaye2012 commented on #3
Wouldn't it be possible to build options in as part of the standard library rather than as a core part of the language itself? At least without F#'s pipe operator.

I also see their usefulness and use them regularly with other languages, but a rich standard lib could be a better place. Perhaps a functional core library with other concepts to support purity could be nice as well (and something that

[2019-03-08 21:30] medvednikov commented on #3
@citycide right now yes, the optionals are only used for error handling. I didn't like Go's `err != nil` checks, so I implemented very simple optionals to handle them.

As you might have guessed I don't have much experience with them as I've never used a language with optionals before :)

@jkaye2012 I want them to be part of the language for simplicity and to avoid generics. Error handling is an i

[2019-03-08 21:56] jkaye2012 commented on #3
Options are not error handling! Or at least not only, though some errors can be modeled with them.

Error handling should surely be strongly integrated into the language, (thus why I asked my first question to you about if errors will be extended past strings!), but I don't think that the option type should be conflated with that. They do share some similarities (e.g. you may want to be able to ch

[2019-03-08 21:59] medvednikov opened #12 "Since there are no globals, and functions can't modify their arguments, there are only 2 ways to modify data concurrently"
1) Closures
[code]

2) Receivers
[code]

What do you think?

[2019-03-08 22:38] medvednikov commented on #3
I never said options are error handling only. In V option == Rusts's Result + Option. So maybe I should just chose a better name.

You can return error strings (`return error('foo')`) or error values (`return os.NOT_FOUND`).

[2019-03-08 22:39] citycide commented on #3
@medvednikov I see that it incorporates Rust's `Result`, but I really don't see any `Option` functionality at all which is what I've been trying to explore.

[2019-03-08 22:45] medvednikov commented on #3
[code]

That's the only functionality right now.

[2019-03-08 22:47] citycide commented on #3
I'll just have to see how it develops I guess &mdash; it's far better than Go's `if err != nil` so I'm with you on that.

[2019-03-08 23:26] andrenth commented on #3
I believe this is similar to union types (as in eg. Pony or Crystal). So type `Foo?` means (implicitly) something like

[code]

[2019-03-09 12:57] PavelVozenilek commented on #12
Assuming `go` behaves as in the go language (I have only vague understanding of go):

[code]

Isn't there good chance of  `a` going out of scope before the thread manages to modify it?

[2019-03-09 18:45] medvednikov commented on #9
This is very interesting, thanks!

Right now V has a very simple testing system:

[code]

[2019-03-09 19:54] jkaye2012 commented on #3
What are you thoughts on some system like this for error handling?

Some base error type, similar to

    struct Error {
      message string
    }

So, now we could handle errors with a construct like

    fn demo() Demo? {
      if ... {
        return Error('it failed') // this could potentially use throw, raise, fail, etc. instead of return
      }
    }

Meaning that the function `Demo` can t

[2019-03-10 01:52] jkaye2012 commented on #3
Just thought I'd note something that might not be obvious from the above - it would allow the compiler to check for non-exhaustive pattern matches on the error hierarchy, ensuring that the programmer has provided a handler for each error that can be thrown by a function (or one of its ancestors).

[2019-03-10 12:56] PavelVozenilek commented on #3
Here's simple model of error handling with no ceremony. It deals with errors _without_ payload. (If programmer needs a payload, he has to do it manually and return the error as optional value or something. Payload is rare.)

[code]

Errors do not need to be declared before, do not need to be part of some hierarchy, function signatures are not affected. No complicated comp-sci artifacts  and jargon

[2019-03-10 15:00] jkaye2012 commented on #3
The simplicity of that system is nice. I think a more useful system probably lies somewhere in between what we've each proposed. The advantage of defining hierarchies is that it facilitates more flexibility in handling at the call site while still allowing for granularity. While defining one is perhaps "more work", it also gives you functionality that a return-code-esque system cannot.

A good exa

[2019-03-10 18:14] PavelVozenilek commented on #3
@jkaye2012:  I'll try to answer your points.

1]  Hierarchies.

I consider most hierarchies bad or useless. Class hierarchies, module/namespace hierarchies, exception hierarchies.

For example, C++ hierarchy
[code]

feels to me nonsensical (`out_of_range` vs `range`, wtf) and harmful. Catching an superclass when there is specific error is a recipe for disaster - information is lost while everythin

[2019-03-10 18:41] jkaye2012 commented on #3
It's all well and good to talk about your personal preference, but it's really important to think about how things will actually be used in the real world, and not just in your mind...

If there is not an easy way to handle these errors and you provide a back door (generic handler), almost everywhere you're going to see something like

    {
      one = foo()
      two = bar()
      ... 10 more li

[2019-03-10 19:03] jkaye2012 commented on #3
Also, regarding payloads, what you're saying when you compare C++ exceptions to Lisp conditions doesn't make much sense considering that payloads are first-class within the condition system.

[2019-03-10 20:15] PavelVozenilek commented on #3
To avoid situations like:

[code]
perhaps this genericity should be forbidden, and explicit handling of every single error required.  I'd be all for it.

--------------

About the name clashes - you probably mean this situation:
[code]

Predefining errors beforehand would not reduce the problem. On the contrary, the need to announce a new name before would push people to reuse some already existin

[2019-03-10 21:35] jkaye2012 commented on #3
Sure, I'd be for that as well.

Seems like something like that could work. I know it seems that you are against "declaring" errors before, but what if we take the idea that you're working with and say that the errors are always local to where the are defined. So the bare `err` always refers to your current context, but you can also reference that of others. Then we could write something like this:

[2019-03-11 11:00] PavelVozenilek commented on #9
Here's an idea of feature integrated into the testing framework.

**The Problem**

It is easy to check returned values for a function.
[code]

However, one may want to be sure of other, non-obvious things:
* there's exactly one heap allocation going inside the `add`, it takes 41 bytes exactly, and it returns them back to the heap
* the function doesn't do any file I/O
* it tries to connect to this

[2019-03-12 01:06] iredmail opened #14 "One stupid question about := and ="
From doc:

[code]

Why we cannot use `:=` for both cases?

I don’t have C/C++ experience, so this may be very stupid question.
But if it doesn't require programmer to remeber one more thing (i don’t mind the syntax parser and compiler to remeber more for me) that would be even better.

Btw, will we see pattern match support like Erlang?

[2019-03-12 01:09] medvednikov commented on #14
`:=` declares a variable

`=` assigns a value

If you use `:=` everywhere then you end up with the same problem Python has: variables are not declared. This results in a huge mess.

[2019-03-12 01:13] iredmail commented on #14
Didnt expect a fast reply. Thanks @medvednikov. :)

Any plan to release a binary package of V itself soon? Let people have some fun. :)

[2019-03-12 01:14] medvednikov commented on #14
An online playground will be available in a couple of days.

[2019-03-12 01:17] iredmail commented on #14
Cool. Will wait for it. :)

[2019-03-12 01:17] #14 closed

[2019-03-12 15:37] PavelVozenilek commented on #3
_Warning: extremely long read!_

I'd mentioned that I had toyed with an idea of designing language of my own. Allow me to list features of this hypothetical language, perhaps something  could serve as an inspiration.

The language was intended to be similar to C (semicolons, {} brackets, C syntax kept where possible) and simpler than C (hopefully). I tried to stay away from all those complicated t

[2019-03-13 15:51] ntrel opened #15 "Optional type enhancements"
Optional types is a great feature. I think there should be a way to declare an empty optional type such as:
[code]
(This should require a mutable variable otherwise it isn't useful). Quite often there is no valid value to initialize a variable with. [Here](https://news.ycombinator.com/item?id=19104598) dkersten argues against using a valid value temporarily instead of an empty option type, when th

[2019-03-13 19:02] sug0 opened #17 "Generated C code"
Wow! This looks and feels a lot like Go, which I love. Good job!

I was wondering if you could show us what the C code emitted by the V compiler looks like.

[2019-03-15 12:44] conilas opened #18 "About runtime.wait"
Hey!

Was just reading the docs of the lang. Nice project!

But I do have some points.

For example, using ```runtime.wait``` (as shown in https://vlang.io/compare) to wait for all coroutines to end... How did one gets to that?

Let's say I use it inside a nested coroutine - what would happen? Would it wait for the nested coroutine or for all the coroutines?

Is the runtime keeping the scope of th

[2019-03-15 13:50] medvednikov commented on #18
Hey

runtime.wait is a temporary hack, it can only be called from the main thread. I haven't fully figured out concurrency yet. It will be similar to Go.

[2019-03-15 14:10] iocat commented on #6
I think "Vee" is a, uhm, pretty good name. We can keep the pronunciation, and the file extension ".vee" is unique :)

[2019-03-15 17:38] ntrel commented on #12
So IIUC, mutating a local variable locally doesn't need locking. A closure has to lock before it can mutate a closed over variable. Doesn't the closure also have to lock to read that mutable variable? Or maybe V then makes local mutation need locking too because the variable is now shared across threads?

Also, is there a way to pass a mutable variable *or* an immutable variable to a function para

[2019-03-15 20:26] malexdev opened #19 "Underscore separators?"
This looks quite cool! Looking forward to seeing more and hopefully helping out at some point.

What is the reason for "going against the grain" and using `_` separators instead of `camelCase` for identifiers?

In #3, you mention that the reason you prefer `'` and \` for characters over `"` is that you don't want to have to press <kbd>shift</kbd>. That argument resonates with me.

In keeping with

[2019-03-15 20:28] medvednikov commented on #19
I swapped - and _ :)

I wouldn't say it's going against the grain. C/C++, Python, Rust, Ruby, Perl etc use underscores.

[2019-03-16 00:19] malexdev commented on #19
That’s fair. I think my main thought was:

If we are micro optimizing to the extent that ‘ is preferred over “, then surely camel case is more efficient than snake case.

That was all. And of course not trying to like, argue the point really. It just stuck out to me.

Either way looks great! Can’t wait!

[2019-03-16 00:19] #19 closed

[2019-03-16 00:30] c-edw commented on #6
I was about to raise an issue with the same topic. Using `.v` as an extension for this language is just inviting confusion with Verilog. There are plenty of other options here but for some reason it's been decided to use the same extension as a well established language just because it's simple.

I suggest changing it while it still can be changed.

[2019-03-16 00:36] calebwin commented on #6
Couldn't there be 2 file extensions - like `.v` and `.vlang` or something like that?

That way people could generally use `.v` if they prefer the extension's simplicity or `.vlang` if whatever software they're using can only recognize `.v` as Verilog but does have `.vlang` as the extension for V.

[2019-03-16 05:26] medvednikov commented on #6
@calebwin I like that. Just like `.cpp`/`.cc` in C++.

[2019-03-16 06:05] medvednikov commented on #17
Thanks!

A bit later, in May. Sorry.

[2019-03-16 06:05] #17 closed

[2019-03-16 06:26] medvednikov opened #20 "Skipping imports"
I just found out that in Rust 2018 fully qualified paths don’t require `use` or `extern crate`.  What do you think about not requiring `import http` in
[code]

I guess seeing all dependencies in one place is nice. And the language will automatically insert them anyway.

[2019-03-16 06:27] medvednikov commented on #15
Can you give an example of where you'd need it?
Thanks

[2019-03-16 10:06] robertbakker commented on #20
What happens if there's two packages with same name ?

Or will it be more along the lines of

[code]

What about aliasing like in Go ?

[2019-03-16 11:37] dsnippet commented on #3
Hey, your code generator does not even have a block for D and yet on the compilation speed benchmark page you list D with a comment "segfaults after 6 minutes".

What is the credibility of your benchmark?

[2019-03-16 11:42] dsnippet commented on #3
I am referring to the benchmark mentioned in hacker news. https://news.ycombinator.com/item?id=19405036

[2019-03-16 11:44] medvednikov commented on #3
Hi @dsnippet

No need to be so agressive :) I simply forgot to update the code.

Done now.

Go also segfaults. Java refuses to compile it. It's all because there's just too much code in one function.

I'll improve the test soon.

[2019-03-16 12:26] ntrel commented on #15
[code]
Also, structs might have an optional type field, and initializing the struct should allow keeping the optional field empty:
[code]
An empty optional variable doesn't indicate an error necessarily, just that the value doesn't exist yet.

[2019-03-16 13:16] medvednikov commented on #15
Ah, I see. There will be `None`.

[2019-03-16 13:30] medvednikov opened #21 "Operator overloading for built in math types"
Operator overloading is bad. It makes code unpredictable.

Mike Acton [says](http://youtube.com/watch?v=rX0ItVEVjHc) that it should only be allowed in very simple cases, like adding vectors. I agree.

I want to make V convenient for gamedev and scientific applications. They use a lot of linear algebra, and `res := a.add(b).add(c)` is a lot messier than `res := a + b + c`

The only way to achieve t

[2019-03-16 13:34] medvednikov commented on #20
The import syntax for more complex modules is going to be 'import a.b.foo'

If there are name conflicts, there will be a way to define aliases. Not sure about the syntax yet. Something like `import myfoo a.b.foo`.

[2019-03-16 14:41] tjpalmer commented on #21
Operator overloading used properly absolutely makes code more readable. Would you like to prevent someone coming along with a numpy or pandas or tensorflow with readable operators for V? You aren't going to build all that into the language. Something to consider.

[2019-03-16 14:50] tjpalmer commented on #3
@medvednikov Your language description hits the most important points. I have different stylistic opinions in some cases, but eh. If you can deliver what you've said under a liberal open source license, that's what matters. Most importantly, I recommend finalizing some kind of 1.0 that people can rely on as soon as possible, even if it doesn't have every feature you want. If you get bogged down in

[2019-03-16 14:54] jkaye2012 commented on #3
I would not rush a 1.0. That's a great way to lock yourself in to backwards
compatibility issues for a long time.

On Sat, Mar 16, 2019, 9:50 AM Tom Palmer <notifications@github.com> wrote:

[2019-03-16 15:06] sug0 commented on #21
Operator overloading can be nice, but it's mostly syntactic sugar. It doesn't add much in the way of readability, and despite `a.add(b).add(c)` being slightly annoying to type, it's clear in its intentions. Go has survived without this feature so far, throughout its tiny lifespan, then again it's not used that often in scientific applications. Anyway, those are my two cents on the matter.

[2019-03-16 17:16] medvednikov opened #22 "Which license to use?"
I was going to publish the source under GPLv3 with the linking exception.

To me it looks like an ideal option: it protects the project and its contributors, and it doesn't result in any inconveniences for companies, since a compiler is not a library that has to be linked. And of course it can be used to develop proprietary software.

But several people think I should go for a copyfree license.

W

[2019-03-16 17:35] tjpalmer commented on #21
You could as well argue that primitives aren't used often anyway, so why have operators in the language at all? Still, any solution, including built-in vector types, could easily be added after 1.0.

[2019-03-16 17:37] tjpalmer commented on #3
And Jai will be great once it's done, too ... Someday, maybe.

[2019-03-16 17:52] medvednikov commented on #21
Oh absolutely, this is going to happen after the public release.

[2019-03-16 19:51] PavelVozenilek commented on #22
Use [Apache 2](https://tldrlegal.com/license/apache-license-2.0-%28apache-2.0%29) or  [MIT](https://tldrlegal.com/license/mit-license) or someting non viral, non threatening. Just seeing letters GPL may scare many people.

[2019-03-16 20:09] kiedtl opened #23 "Already a language named V"
Isn't there already a language named `V`? See [here](https://www.vcode.org).

[2019-03-16 20:17] medvednikov commented on #23
https://github.com/vlang-io/V/issues/6

[2019-03-16 20:17] #23 closed

[2019-03-16 21:06] sug0 commented on #22
Yeah, or some sort of three clause BSD license.

[2019-03-16 21:39] jedisct1 commented on #22
ISC / MIT. Many companies will now stay away from GPL as much as possible.

[2019-03-17 02:24] whoizit commented on #22
the compiler must be under a permissive license if you want it to gain more popularity. I do not think that we will lose anything from this. It is beneficial for proprietary companies to commit their work to the community in order not to support their own code.

GNU recommend Apache 2.0 if permissive
or you can make dual licensing, as Rust compiler do

https://www.gnu.org/licenses/license-list.en.

[2019-03-17 05:04] medvednikov commented on #22
Thanks.

Can you please explain why developers/companies could be scared off by a GPL licensed _compiler_?

I'd understand if it were a library, then most simply wouldn't be able to link it. But you don't link a compiler, and the linking exception allows to use the stdlib without any limitations.

And if they want to modify the compiler, well, then like you said, it's easier for companies to contr

[2019-03-17 05:19] whoizit commented on #22
With a permissive license, companies can use your product inside their products, for example, as an alternative to Lua or Python scripts, for example in games. I do not know how your compiler works, whether it generates a native binary or just transpile to C. You know it better. If it is a C transpiler, then probably the GPL license will be enough for all.

Otherwise, a permissive license is neces

[2019-03-17 05:23] calebwin commented on #22
As a developer, GPL looks complicated to me.
Is there a reason why MIT or Apache isn't good enough for the V compiler?

[2019-03-17 05:29] ntilotta commented on #22
Among the others, I think that the MIT License will be the best choice for the V compiler.

[2019-03-17 05:31] whoizit commented on #22
There is no regulation of patent relations in MIT.
Apache 2.0 is a more modern, balanced license with patent law regulation. Which is recommended by GNU.

[2019-03-17 05:57] medvednikov commented on #22
V is not an interpreter. It generates binaries. Companies are free to use binaries/libraries generated by V inside.

V can emit C and generate  machine code.

[2019-03-17 06:20] orsinium commented on #22
If V under GPL included in some OS, all OS should be under GPL. So, with GPL V won't be included in Windows and other proprietary systems.

Also, if someone wants to use V as DSL in some proprietary system he can't do it with GPL.

And yes, nobody knows anything about licenses except MIT and Apache, so other licenses will slow down popularity growing for V.

[2019-03-17 06:32] medvednikov commented on #22
I don't think that's correct. For example, macOS includes bash (licensed under GPL2), this doesn't mean entire macOS has to be GPL'ed. You have to GPL your code only if you link against GPL libraries and distribute the result.

[2019-03-17 06:34] medvednikov commented on #22
The license and contribution rules can be explained at the very top of `README.me`.

[2019-03-17 06:54] genuinebyte commented on #22
You could go the route of ISC instead of MIT.

"The ISC license is functionally equivalent to the BSD 2-Clause and MIT licenses, removing some language that is no longer necessary."
Sources: [choosealicense](https://choosealicense.com/licenses/isc/), [wikipedia](https://en.wikipedia.org/wiki/ISC_license)

I don't believe the [MPL](https://choosealicense.com/licenses/mpl-2.0/) has been mentioned ye

[2019-03-17 06:57] medvednikov commented on #22
Thanks @genuinebyte

What are the benefits of MPL over GPLv3? Allowing to do static linking? That's handled by the linking exception.

[2019-03-17 07:23] genuinebyte commented on #22
I was only commenting on the `[Linux Kernel not adopting GPLv3](https://lwn.net/Articles/200422/). Your judgment is almost certainly better than mine. If anything MPL might be shorter to digest for a developer but if the license is explained at the top of the readme any license will probably be fine. I'm not a lawyer :)

[2019-03-17 07:50] medvednikov commented on #22
I like simplicity. So MPL looks like a better choice.

[2019-03-17 07:50] wilberton commented on #22
In my opinion, just having the letters GPL in the license are likely to put people off - linking exception or not. What benefits does the GPL have in this instance?
For example, if I were writing a game and wanted to create a byte-code backend for V so I could use it as a scripting language and embed that in the game, I wouldn't be able to do that without releasing my entire game as GPL.
Also it m

[2019-03-17 08:33] orsinium commented on #22
Simplicity for people is not to use licenses that not known for them. Seriously, nobody knows about licenses more than "Apache and MIT is cool, other licenses are strange".

[2019-03-17 12:21] rgb-one commented on #22
There's the [Blue Oak Model License](https://blueoakcouncil.org/license/1.0.0) which is modern and clear.

[2019-03-17 12:33] tjpalmer commented on #22
A compiler can be a library, too. I'm just a random nobody, but if V uses a non permissive license, it doesn't exist, as far as I'm concerned. Sometimes, you need to be brave instead of trying to be protective. Be a good caretaker with a good community, and you'll stay at the center.

[2019-03-17 15:08] naltun opened #26 "Future feature to end `or` blocks with a print function?"
https://github.com/vlang-io/V/blob/224e6dba066da3da6f620ff6dd42edf1bac27844/examples/users.v#L32

In `users.v`, there is a call to `eprintln` before the return. Are there plans to alter the compiler to allow this print call to be the end of the block?

[2019-03-17 15:09] naltun commented on #26
Thinking about this, it actually isn't a bad idea. How does `continue` behave differently from `return`ing nothing?

[2019-03-17 15:45] medvednikov commented on #26
Sorry, why would `eprintln` be the end of the `or` block?

It just prints to stderr, it's not like Go's `log.Fatal`

[2019-03-17 16:13] naltun commented on #26
Because adding a `return` with no values seems verbose. It is not unusual practice, though. The `or` block is for handling errors, right? So if the compiler sees the block ending with `eprintln` then it could understand the end of the block, and return as normal.

I'm not sure if this is 1) even desired, or 2) an easy patch to make. Empty `return`s have always struck me as odd.

[2019-03-17 16:25] medvednikov commented on #15
Does `None` solve this @ntrel ?

[2019-03-17 16:26] #7 closed

[2019-03-17 16:39] wilberton commented on #22
From my point of view, while not as burdensome as the GPL, the MPL still suffers from a couple of issues. Firstly, it is not as well known as other licenses, so in order to determine whether it will fit my use case, I would need to read through the licence and understand it's implications, and/or pay a lawyer to do that for me.
That is going to be a definite barrier that I wouldn't underestimate.

[2019-03-17 16:48] medvednikov commented on #22
Thanks a lot for your input @wilberton

[2019-03-17 16:58] riordanmr commented on #22
Alex said in a private email about an hour ago that he had dropped the idea of using GPL and was now deciding between MPL 2.0 and Apache.
Of those two, I prefer Apache.  Personally, I use the simple and well-understood MIT license for the freeware I write.
By the way, I agree with most of the comments above, including those by @wilberton

Needless to say, I recognize and respect Alex's right to ch

[2019-03-17 17:30] medvednikov commented on #22
All right, the consensus is clear :)

Thanks to everyone for your feedback.

For better adoption I need to reduce friction wherever I can. Simple language, simple license.

MIT.

[2019-03-17 18:28] medvednikov commented on #22
https://github.com/vlang-io/V/blob/master/LICENSE

[2019-03-17 18:33] jkaye2012 commented on #20
Perhaps the Python-esque `import a.b.foo as myfoo`?

[2019-03-17 19:56] naltun opened #28 "Add a 'Subscribe' button to the mailing list signup?"
![image](https://user-images.githubusercontent.com/7507990/54497104-189dc880-48cd-11e9-9ad0-5465796d01bf.png)

I figured I could subscribe by hitting 'enter', but some people may not think about that. It may keep them from signing up. Thoughts?

[2019-03-17 19:59] medvednikov commented on #28
Fixed :)

[2019-03-17 19:59] #28 closed

[2019-03-18 06:09] medvednikov commented on #20
Maybe. Although this requires a new keyword.

[2019-03-18 06:15] medvednikov commented on #20
After giving it a thought I decided it goes against one of the main philosophies of V: only one way of doing things. If this is implemented, some modules will be skipped, others will be imported. This results in inconsistencies.

V will automatically insert all missing imports anyway. And for large projects it's always good to see all imports in the file's header.

[2019-03-18 06:15] #20 closed

[2019-03-18 06:18] #18 closed

[2019-03-18 08:34] chinanf-boy opened #29 "Good V，Here is Chinese for your Docs , you may use ;)"
- https://github.com/chinanf-boy/V-zh

- [x] [index](https://github.com/chinanf-boy/V-zh/blob/master/mds/index.zh.md)
- [x] [doc](https://github.com/chinanf-boy/V-zh/blob/master/mds/docs.zh.md)
- [x] [compare](https://github.com/chinanf-boy/V-zh/blob/master/mds/compare.zh.md)
- [x] [compilation_speed](https://github.com/chinanf-boy/V-zh/blob/master/mds/compilation_speed.zh.md)

[2019-03-18 13:13] BenRhouma opened #30 "More documentation regarding hot reloading ?!!!"
My mind can't grasp the concept behind doing hot reloading without doing a compile!!!
At first I thought it was a joke, but I guess it's not.
Could you please explain further the concept at least briefly.

[2019-03-18 13:23] Causeless commented on #21
In my opinion there's absolutely nothing wrong with allowing operator overloading. If people write messy code, they're going to write messy code; and limiting them won't help that.

I've always found the debate about operator overloading absolutely confusing. Yes, people can use the `+` operator to do something other than addition, and no operator overloading makes that impossible. However, they c

[2019-03-18 16:35] medvednikov commented on #30
Good question. I'll add info about it to the docs.

Let's say you have

[code]

It will print number 1 every second.

However since we used the `hot` directive (name is not final 😃), `foo()` is loaded dynamically, and V will insert a small program that will run in the background and wait for modifications in `main.v`. Once it's modified, that program will ask V to generate `main.so` with the modif

[2019-03-18 16:36] #15 closed

[2019-03-18 17:06] #30 closed

[2019-03-18 20:36] athaa opened #31 "int on 32bits"
Hello

In V, the type int is an 32bits number on every plateform. What is the point ?

Doing this you risk to suffer bad performance on some architecture (or at least not using some optimization).
If the user really need 32 bits, il will use the type i32/u32.

Il you are afraid of random integeroverflow on some plateforme (tested on a 64 bits CPU, runned on a 32 bits CPU), I guess you could add a

[2019-03-18 20:39] medvednikov commented on #31
Consistency and predictability.

[2019-03-18 20:48] athaa commented on #31
I got you're point but in most programme,
`	for i := 0; i < 10; i++ {`
will be one of the main usage of integer (after storage), It' a shame to not optimize this usage case.
But you're right a trade off is necessary. It's all about what's your top priority.

[2019-03-18 20:48] #31 closed

[2019-03-19 01:43] montychen commented on #29
Good Job!

[2019-03-19 04:22] brandonros opened #33 "Runtime wording"
https://github.com/vlang-io/V/blob/master/website/templates/compare.html#L87

https://github.com/vlang-io/V/blob/master/website/templates/compare.html#L336

Is there a runtime like Rust's tokio built in?

[2019-03-19 04:24] brandonros opened #34 "Website comparison out of date with repo"
![image](https://user-images.githubusercontent.com/8949910/54580173-52f68b00-49dd-11e9-8675-1140afe82da5.png)

https://github.com/vlang-io/V/blob/master/website/templates/compare.html#L150

[2019-03-19 14:22] naltun commented on #26
The `continue` keyword doesn't seem like a bad idea. Closing.

[2019-03-19 14:22] #26 closed

[2019-03-19 20:18] damianesteban commented on #3
So far I think it looks great. The syntax is Go-ish, but seems much more interesting to write than Go :). Great job.

On a side note, Volt is an awesome project.

[2019-03-20 00:29] gingerBill opened #35 "This language is not as advertised"
This language is not as advertised
---

This language does not do over 90% of what is advertised. Most of what is advertised is not coherent with most of the claims you have stated. With the new release of the playground, most of the examples in the docs fail, even many of the extremely basic ones.

* You appear to do very basic tokenization/lexing which you use to naïvely convert the code into C

[2019-03-20 01:22] SuperDisk commented on #35
How entitled do you have to be to scream at someone that his language isn't ready enough for you yet? Why is this a github issue?

[2019-03-20 01:34] Kelimion commented on #35
Way to miss the point.
1) The language author makes and has made grandiose claims about what the language can do.
2) Not only that, software purported to have been written in this language or transpiled to it, far exceeds the complexity of even the simple things that failed in the playground.
3) Language features requiring an AST and runtime are claimed to be part of the language but at the same t

[2019-03-20 01:52] SuperDisk commented on #35
Yeah I get it, it just disheartens me to see such harsh rebuke, especially because he's repeatedly said it's a pre-alpha language and a lot of goals haven't been implemented yet. Seems to me like the playground was put out early because everyone was clamoring for it and his reward? A github issue decrying him as a scam artist. Like jeez folks, it's not like he stole your money or that much of your

[2019-03-20 02:07] t-k- opened #36 "Iterators/generators?"
Also, can we define iterator/generators?

[2019-03-20 02:09] Kelimion commented on #35
There are all these comparisons with Go, C, Rust and Swift. Why would someone possibly benchmark a pre-alpha language and state it has superior performane? Why would someone draw up a table of features as if they're already implemented instead of calling it a roadmap?

And I'm sorry, but how do you square a lot of goals not having been implemented yet while at the same time stating Doom3.v compile

[2019-03-20 06:18] medvednikov commented on #35
Hi,

Like the disclaimer says, the language is in the pre-alpha stage. I've been developing it in parallel with Volt, what works for me, a single developer, is certainly not going to work for thousands. There are major things missing/broken that I've just been avoiding (for example, you can't do `foo[i].bar`).

All of these things are implemented and they do not require runtime with the way I impl

[2019-03-20 06:23] zhaytee commented on #35
@medvednikov Well handled!

Also, thanks for your efforts on V. Very much looking forward to seeing it grow.

[2019-03-20 06:47] medvednikov commented on #36
Hi,

Yes I should add docs on modules.

There are no iterators.

From wiki:

V is not an OOP language, and design patterns go against the philosophy of simplicity.

[2019-03-20 06:47] medvednikov commented on #34
Indeed, I have two different repos, I need to merge them into one. Will do asap.

[2019-03-20 06:48] medvednikov commented on #33
Ignore `runtime.wait()`, it's a temporary hack :)

Not familiar with tokio.

[2019-03-20 06:52] aedans commented on #35
I don't think the problem is that the language isn't finished. As you stated, it's in pre-alpha, and it's unreasonable to expect the language to be completely bug free. I think it's even conceivable to write software like Volt in V if you use mostly simpler features; people often underestimate how much you can do with just functions and if statements.

The problem is that you claim that the langua

[2019-03-20 06:55] medvednikov commented on #35
the home page has a literal link to a demo: https://volt-app.com/img/lang.webm

an article on translating Doom will be up in a couple of days

I will, in the article mentioned above

[2019-03-20 07:24] medvednikov commented on #36
A good talk about the drawbacks and complexity of iterators:

https://accu.org/content/conf2009/AndreiAlexandrescu_iterators-must-go.pdf

[2019-03-20 08:39] Kelimion commented on #35
Excuse you? In no way did my comments contain misinformation. And if the main thing that was wrong with them according to you was that they repeated things, you could've left them up.

Apart from which, speech tends to be countered by speech, not censorship.

[2019-03-20 08:59] medvednikov commented on #35
Jeroen, you repeat the same misinformation over and over again:

or transpiled to it, far exceeds the complexity of even the simple things
that failed in the playground.

language

I've given multiple examples of complex applications written in V.

the language but at the same time it's claimed the language requires no
runtime and doesn't use an AST.
This is again a repeat of the same misinformati

[2019-03-20 09:23] Kelimion commented on #35
Asking for proof of questionable claims by you is not misinformation.

You keep claiming - yet again right now - that there are examples of complex applications written in V. Just stating that you've written a piece of software in this language doesn't constitute proof. Even so everyone here is supposed to believe that in the current state of the compiler, you cannot address a member of a struct i

[2019-03-20 09:30] medvednikov commented on #35
OK, again let's say I lie and I didn't write it in V. What's the plan, can you tell me?

What features I compare against are not implemented? `Point{x,y}` syntax?

Yes, almost every single sentence is wrong, misinformation, or an outright lie (like 90% of features missing, AST being required, println requiring runtime (??), dynamic arrays requiring runtime (??), etc)

It also says

Indeed, how cou

[2019-03-20 09:35] medvednikov commented on #35
I recorded it a year ago. I don't remember the issue, but indeed I couldn't make the file watcher work correctly, and somehow forced the reload when it reached the edge.

I haven't been using hot reloading when developing Volt, because it's harder to make it work with GUI apps, but it's possible and I will fix it.

This is pre-alpha software, things aren't 100% stable, this is normal.

[2019-03-20 09:38] medvednikov commented on #35
You aren't asking for proof. You are making strong claims that are simply not true.

I  can't give you proof right now: Volt is closed source, V and Vid will be released in June.

So you either believe me or you don't, we'll see who is right in June. But please don't call me a liar, scammer and spread misinformation.

[2019-03-20 09:40] medvednikov commented on #35
V temporarily allows to insert C code with `#`. I hate this feature and have been slowly cleaning up all C code. The released version of V will not have `#` at all.

For missing/broken features I simply use `#` for now.

[2019-03-20 09:54] Kelimion commented on #35
And you'll note that I didn't call you a liar or scammer. I questioned why you make such strong claims about the current state of the language all over the website instead of addressing which of the features are aspirational. I question why you think it makes sense to benchmark an incomplete compiler against compilers that have actually been release and make it appear that V is better than them in

[2019-03-20 10:02] medvednikov commented on #35
You keep saying that I didn't write all this software in V, than means I'm a liar.

I benchmarked only compilation speed by calling `println(a)` 200 000 times. I explicitly mentioned that this is not a great test, but it can give a general picture. V can compile a program that calls `println`.

Regarding the size comparison. This is a good point. In the original HTML version of the site I had a si

[2019-03-20 10:06] medvednikov commented on #35
The only major feature missing is the scheduler/green threads. But they are not mentioned anywhere on the website.

[2019-03-20 10:10] eterps commented on #35
[code]

Is this information correct? What is being timed at 0.5s in this example, the translation to C? If so, it might be good to add that information otherwise people assume it is about generating object code as the speed benchmark currently suggests.

[2019-03-20 10:12] medvednikov commented on #35
No, this is x64 machine code generation. In 0.5s you'll get a binary.

[2019-03-20 10:14] gingerBill commented on #35
May I ask, what do you consider a runtime to be, @medvednikov?

[2019-03-20 10:18] MaxGraey commented on #35
But just compiling is not "compiling correct" and "run correct". Could we see (download) this binary?

[2019-03-20 10:18] Kelimion commented on #35
At no point did I say that you didn't write all this software. I reference your claims that you have written all of this software in V while simultaneously some very basic language features are said to be missing or broken. Asking you to address is isn't exactly the same as calling you a liar, methinks.

I do hope V will turn out to be all you say it will be. We could use more good programming lan

[2019-03-20 10:21] medvednikov commented on #35
Please read what I wrote. I don't claim you claimed I didn't write all this software. You claimed I didn't write this software **in V**.

This is false. All of this software is written 100% in V.

[2019-03-20 10:23] medvednikov commented on #35
In a couple of days I will release an article on translating Doom 1 to V. It will have the resulting .v code and the binary.

[2019-03-20 10:27] medvednikov commented on #35
I will add more info to the doom3 example, explain what's going, and at what stage the C++ translator and x64 generation are.

[2019-03-20 10:34] medvednikov commented on #35
What basic  features are broken other than accessing fields of array elements? Please be specific. I debunked all false claims and I'm still getting these vague basic broken features from you.

[2019-03-20 10:44] Kelimion commented on #35
I made no such claim at all, and I have screenshots of the posts you deleted to back this up.
I said:

Nowhere does that say you didn't do so. It strongly questions whether the way the language is presented on the website matches the its current state. You're familiar with "extraordinary claims require extraordinary evidence?"

Honestly? You listed a raft of broken features on the playground and c

[2019-03-20 10:46] medvednikov commented on #35
All of these were written by you:

[2019-03-20 10:48] Kelimion commented on #35
Indeed. And since when is calling out questionable claims made without evidence and asking for that evidence the same as calling someone a liar?

[2019-03-20 10:48] medvednikov commented on #35
So again, you say that automatic imports is a basic feature, without which complex apps can't be written?

Or enums? Which I have in Volt, they were using an older syntax.

Or maybe lock{}, which is just syntax suger for mu.lock()/mu.unlock()

Which one, please tell me.

[2019-03-20 10:49] gingerBill commented on #35
May I ask, what do you consider a runtime to be, @medvednikov?

[2019-03-20 10:53] medvednikov commented on #35
@Kelimion

Ok, let's say you didn't claim I didn't write it in V, you are only questioning how I could write it in V with so many basic features missing.

So let me ask for the third time, what basic features are missing? Name them, please. I'll do my best to address every single one and explain how I managed to write everything in V.

I already mentioned the `#` hack.

[2019-03-20 10:55] medvednikov commented on #35
@gingerBill what do you consider a runtime to be, where calling `println` requires it?

[2019-03-20 10:57] gingerBill commented on #35
@medvednikov I asked you what do you consider a runtime to be.

[2019-03-20 10:59] medvednikov commented on #35
And I replied. Not something that's needed for calling a function.

[2019-03-20 11:04] MaxGraey commented on #35
compiler-rt also runtime. Doesn't matter how you legalize this: generate call from standard library or generate set of instruction in compile time =)

[2019-03-20 11:07] #22 closed

[2019-03-20 11:16] gingerBill commented on #35
@medvednikov A language that does not require a runtime means that features within the language do not require any libraries in order to function.

A _runtime_ is short for a _runtime library_.

Features that are classed as part of the runtime:
* Memory management with `malloc` and `free` (this includes your features where all arrays are _dynamic_ which requires automatic memory managment)
* You p

[2019-03-20 13:20] angelopolotto opened #37 "Official web site don't open in my browser"
I want to read more about the project but I can't open the official web site since yesterday. I don't know if It it a issue but this can be a channel to warn the community about that.

Thank you in advance.

[2019-03-20 15:16] medvednikov commented on #37
Hi

This is really strange

Can you send me a screenshot to support@volt-app.com <mailto:support@volt-app.com>?

Thanks

[2019-03-20 16:14] ntrel commented on #15
@medvednikov Sorry for the late reply. TODO:

- [ ] Decide syntax for declaring empty optional variables - maybe `mut opt := T?(None)`
- [ ] Allow struct optional fields without initializers:
[code]
- [ ] Add `and` statement:
[code]
If you like I'm happy to update the docs for this.

[2019-03-20 17:53] medvednikov commented on #37
Just checked with various tools that open the site globally: works fine.

[2019-03-20 17:58] t-k- commented on #36
Thanks for the slides, although it fails to convince me. I think the slide takes from a purely C++ point of view, but reminber generator can belong to language as simple as Lua. I do not think OOP itself is bad and necessarily complex, it can be just an easy way for human to think about problem.

[2019-03-20 17:59] medvednikov commented on #36
I was referring to iterators. Missed the generators bit.

Can you give a simple example of a generator?

[2019-03-20 18:22] angelopolotto commented on #37
I tried again and It worked well. I don't know what was happening.
Thank you for your attention!

[2019-03-20 18:23] medvednikov commented on #37
Cool. Maybe something with your network/firewall/AV etc

[2019-03-20 18:23] #37 closed

[2019-03-20 20:33] bpunsky commented on #35
This got fairly out of hand so I just want to clarify, I don't think anyone here is motivated by some animus against you. Anyone who made the sort of claims you have about V without providing ample evidence to support it, especially when what little evidence there is is questionable, would be subject to intense scrutiny. It's nothing personal. Many of the claims that you've made are highly dubious

[2019-03-20 20:47] hamad-almamari opened #39 "Android and IOS"
Is there any plans for Android and Ios support.?
Also can V used to get powerfull graphics over GPUs on deff backends like Metal and OpenGl

[2019-03-20 22:39] twe4ked commented on #35
This is a shame. I read the comments as they came in and they seemed well considered. They weren't abusive.

[2019-03-21 00:14] mayadapples commented on #35
I'm interested to see what the language is like, if it doesn't live up the features promised I think that's still perfectly okay; one can have a functioning language that people hopefully can use and then gauge interest, which probably will help adding some of the features that were promised.

[2019-03-21 00:54] bpunsky commented on #35
I agree that it's fine if it doesn't live up to the hype @mayadapples, the problem though is that the claims have been worded as though the language is *already* living up to these things, and the creator is accepting donations. As @Kelimion pointed out, if these are aspirational goals that's fine, but in that case it should be clear. If they're objective claims (as they are written) and they're n

[2019-03-21 10:59] medvednikov commented on #35
@bpunsky

Please link to an example where serialization uses runtime information.

Please name at least one.

[2019-03-21 19:23] mayadapples commented on #35
@medvednikov Not trying to be aggressive here, but what is the design aim or purpose of not having a runtime library?
Also I'm sorry if this question was already asked.

[2019-03-22 00:17] CanyonTurtle opened #40 "Clarification questions about pointers and struct immutability"
Firstly, I think that v looks very promising and succinct!

I have 2 clarification questions, one about pointers and the other about struct immutability.

1) The documentation has one example with pointers. This example shows that pointers get declared and initialized along with the struct they are pointing to. Is this the only way to make pointers, or is it possible to do declare and initialize p

[2019-03-22 08:56] medvednikov commented on #35
@bpunsky @Kelimion

You write walls of text with misinformation, but when I ask you to give one actual example, you disappear.

[2019-03-22 08:59] medvednikov commented on #40
p := Point{10,10}
	pointer := &p
	println(pointer.x, pointer.y)

Yes

This is a mistake in the docs. Fixed. Thanks :)

[2019-03-22 09:10] medvednikov commented on #39
Yes! Hopefully this year.

Yes, it already has a small graphics library `gg`. It uses OpenGL, but it'll be trivial to add other backends.

For example vid uses `gg` for rendering:

https://github.com/medvednikov/vid

[2019-03-22 09:29] paralin commented on #35
They assert that they can compile Doom to object code in 0.5 seconds. This claim alone should invalidate the rest.

[2019-03-22 09:30] medvednikov commented on #35
If you say so.

[2019-03-22 09:37] paralin commented on #35
@medvednikov This may be an issue of semantics. If you're compiling from V to C code, this is transpilation, similar to Coffeescript or TypeScript. You mention runtime.join a bunch of places so it must be that you are doing something like this.

The only other thing I can imagine is that you maybe are compiling to naiive hand-written x86. This is a nightmare for sure.

[2019-03-22 09:50] Kelimion commented on #35
I didn't disappear. I said that you hadn't actually addressed the meat of my concerns and that I had real work to do, so I'd check back when the compiler is actually released.

But again with calling legitimate technical concerns misinformation. Or is it the disparities in the description of the language other than that? I called out examples and you said you'd correct them. Clearly you must've fe

[2019-03-22 10:54] medvednikov commented on #35
@Kelimion I asked you a simple thing 4 times, 30 messages later you still haven't answered.

You claimed that it's not possible to write complex software in V because it's missing basic features. For the 5th time: please give me an example of one missing basic feature that makes you confident it's not possible to use V to write complex software.

Are you seriously using this runtime argument? This

[2019-03-22 10:58] medvednikov commented on #35
I'm not calling everything misinformation. I'm calling claims like

or

or

misinformation, which it clearly is.

[2019-03-22 11:02] thebirk commented on #35
@medvednikov

Well then you should probably advertise your language as having a *lightweight* runtime, instead of saying it has *no runtime*.

[2019-03-22 11:04] medvednikov commented on #35
@thebirk  see this discussion

https://news.ycombinator.com/item?id=15903584

I agree with this point, but I'll make it clear on the website.

[2019-03-22 11:23] ntrel commented on #40
OK, so V must prevent pointers to stack allocated structs from escaping when passed to a function. Is there an attribute e.g. `@escape` for marking function parameters as escapable (i.e. assigned to a receiver)?
[code]

[2019-03-22 11:26] medvednikov commented on #40
No

[2019-03-22 11:33] ntrel commented on #40
@medvednikov I presume you mean you don't want an `@escape` attribute, and all function parameters can't escape. This seems to work against the nice feature of immutable data that it can be referenced in multiple places (and even across threads) because it doesn't change. But I suppose that requires garbage collection or reference counting for heap allocated immutable data.

[2019-03-22 11:35] medvednikov commented on #40
No meaning there’s no such feature.

And I don’t have a solution to this problem atm.

[2019-03-22 11:36] ntrel commented on #15
@medvednikov Does this sound OK? If you prefer I can make a new issue for this. Also once the code is available I could maybe look at implementing the last two items.

[2019-03-22 12:05] Kelimion commented on #35
Like this you mean? An assertion of mine which was later backed up by you yourself when you stated this:

Look. I don't assume ill-intent on your part. From what I've seen you appear rather a bit overenthusiastic and relatively inexperienced compared to say @gingerBill or myself. That's okay, we all had to start somewhere. It also looks to be the case that you have a different view of certain defi

[2019-03-22 12:07] ntrel opened #41 "pointers and arrays can violate immutability"
The following code shows issues with dealing with deep immutability. I have written the type that i think V should be using on each pointer declaration line. One line modifies immutable data - to fix this `mut` needs to be part of the type, not just an attribute on a variable:
[code]
(BTW the automatic formatting of comments is not helpful, the first line's comment gets moved to a new line - bug,

[2019-03-22 12:13] ntrel commented on #40
I think V should prevent escapes for now, then later the restriction could be relaxed in certain cases if necessary. Otherwise it will be hard to go the other way and allow escaping now, then break code by imposing a restriction later. I guess the workaround for forcing escapes (that the programmer knows are memory safe) would be to drop into C `#s1->s2 = s2`.

[2019-03-22 12:22] ntrel commented on #12
BTW, the mutable receiver docs don't use `lock`, is this a mistake?
[code]
Also, I saw https://github.com/vlang-io/V/commit/894db193325ac3f8ffcca1ea00bdd046b2b72edb, does this mean V will require locking for reading mutable data too?

[2019-03-22 13:24] medvednikov commented on #12
This is not a concurrent example, so locking is not needed.

[2019-03-22 13:30] medvednikov commented on #35
This is about x64 compilation, which is at an early stage. All the software I referenced was compiled by clang/mingw. So you still haven’t provided anything meaningful to prove that it’s impossible to write all this software in V.

And we are back. What should I do then? The source is not released yet. Volt is closed source.

This is a complete waste time. The language will be released soon, you’l

[2019-03-22 13:51] MaxGraey commented on #35
Actually Volt takes 354 KB on Mac, 2.1 MB on Windows and not exists on Linux. Most apps have fat size because it:
1) Use fat libc or similar runtime libraries, icu4c for unicode
2) Use a lot of third-party dependencies
3) Use cross-platform GUI framework

Basically if you drop std ([no_std] in Rust) and replace it to musl or own simple and lightweight runtime. Switch to lightweight memory allocato

[2019-03-22 14:12] Kelimion commented on #35
Maybe not link to it as proof positive of complex software written in the language when people can't evaluate the language on this basis? That's not people necessarily doubting the veracity of your claims.

I don't begrudge you listing this software, but it's rather sad to see you attacking people when they see something they can't verify and point out the claims can't be evaluated, and that perha

[2019-03-22 15:35] t-k- commented on #36
A good example would be from Lua official documentation: https://www.lua.org/pil/7.5.html

[2019-03-22 18:28] bpunsky commented on #35
Nobody is calling you anything, we're simply pointing out that your materials around V are inconsistent and not backed up by any evidence, and some of your claims are hard to reconcile with reality. With you accepting donations for this project, surely you see how that raises legitimate concerns. Nobody is lobbing accusations at you, we're suggesting ways that you could provide a more solid founda

[2019-03-22 20:44] medvednikov commented on #36
I think “for i in vals { }” does the job

[2019-03-22 20:54] paralin commented on #35
I'm just sitting here wondering how he got clang to compile anything in 0.5 seconds to x86.

[2019-03-23 07:31] banks opened #42 "Name collision with vlang.org"
There is already a “Vlang” which is similar enough that it’s very confusing to google anything to do with vlang!

The project looks interesting, so you plan to choose a different name to avoid the confusion?

[2019-03-23 11:34] medvednikov commented on #42
I also own v-language.org, that might be a better domain to avoid confusion.

[2019-03-23 13:24] HedariKun opened #43 "Compiletime reflection"
will it have reflection ? if yes is it the same as go?

[2019-03-23 13:24] medvednikov commented on #43
I'm not sure yet.

Reflection is slow and can result in runtime errors.

I think I'll implement it with codegen, just like json decoding.

[2019-03-23 13:27] HedariKun commented on #43
if it would be something like c#'s it would be awesome,
like just adding an attribute to a func then take it from reflection to do stuff with it, it would be time saver in making API like
[code]

[2019-03-23 13:41] HedariKun opened #44 "webassembly"
will it be able to compile to webassembly?

[2019-03-23 14:17] medvednikov commented on #44
Yes, hopefully this year.

[2019-03-23 22:51] tjpalmer commented on #36
Generators in many languages (C#, Python, JavaScript, and presumably others) have a lot to do with coroutines. This example in C# shows somewhat: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/yield#example

Upcoming C++20 and Rust features also enable this in similar fashions.

Whether it matters for V likely depends a lot on how V's coroutines end up working.

[2019-03-23 23:01] tjpalmer commented on #43
I could see value in static reflection or a compiler API at some point. @medvednikov As you point out, this could generalize your json support (which some people won't want to use anyway, as more efficient serialization methods exist). But I agree that runtime reflection is at odds with V as I understand it today.

[2019-03-24 09:05] #39 closed

[2019-03-24 12:48] MaxGraey commented on #35
Also author mentioned V is self-hosting compiler. Rust for example started in 2006 on Ocaml and only after 4 years could compile itself.

[2019-03-24 13:06] ntrel commented on #36
@medvednikov:

Iterator functions are just an interface, it's not OOP, there's no inheritance. The interface can be just two functions to:
* get an iterator from a container
* request the first/next element, which would return an optional result, empty if no more elements

This talk is a critique of C++ iterators, the main problem with those is that start/end iterators are not paired, so the two m

[2019-03-24 13:28] ThatNerdyPikachu opened #45 "IO?"
Hi,

Is there (going to be) an IO library included with V?

Thanks!

[2019-03-24 13:30] medvednikov commented on #45
Hi

If you mean file IO, then of course.

[2019-03-24 13:30] medvednikov commented on #45
I'll publish package documentation soon.

[2019-03-24 13:31] ThatNerdyPikachu commented on #45
What about “memory IO”, like the ability to put data from a HTTP response, or a byte array, into a “stream” in memory of sorts, a la C#?

[2019-03-24 13:32] medvednikov commented on #45
Can you give an example?

[2019-03-24 13:34] ThatNerdyPikachu commented on #45
[code]

[2019-03-24 13:35] medvednikov commented on #45
Yes, it'll be similar to

https://golang.org/pkg/io/

[2019-03-24 13:36] #45 closed

[2019-03-24 22:55] mrtnpwn commented on #35
I guess he's doing that, but who knows?

[2019-03-24 23:12] Francesco149 commented on #35
from what i've seen, the V compiler is supposed to be simple and non-optimizing at the moment and to be used for fast debug builds. for optimization you would transpile to C and compile with gcc/clang. site says optimization is planned for the future.

I think it's a very plausible claim for a simple non-optimizing compiler, and i actually like the idea but i can see why the way it's presented cou

[2019-03-25 01:47] paralin commented on #35
Why not just say that then.

On Sun, Mar 24, 2019, 4:13 PM Franc[e]sco <notifications@github.com> wrote:

[2019-03-25 09:01] t-k- commented on #36
Also another feature I want in loop iteration, I can delete element from the container I am currently iterating without any issue (ensure I will not go into an infinite loop).

[2019-03-25 11:10] medvednikov commented on #35
One final message to address some things.

This is correct and is literally what it says on the home page.

In that 354 KB binary almost half is used by the macOS icon. It's 2.1 MB on Windows temporarily until I remove the libcurl dependency. Linux version is going to be released tomorrow.

V is written in V. You'll see in June once the source is released.

Clang compiles 200k lines of sqlite.c in

[2019-03-25 12:24] ThatNerdyPikachu commented on #45
@medvednikov do you have basic file I/O implemented? because of vid, I’m assuming you do?

[2019-03-25 12:24] medvednikov commented on #45
Yes

[2019-03-25 12:26] ThatNerdyPikachu commented on #45
To what extent? Reading and writing, maybe metadata, etc?

(if this info will be out with the docs — I’ll stop bugging you :) )

[2019-03-25 13:18] medvednikov commented on #45
It will be out with package docs

[2019-03-25 17:58] ntrel commented on #34
@medvednikov It would be good when you get time to put the website on github so we can monitor changes to the docs etc.

[2019-03-25 18:01] ntrel commented on #12
Yes, so I assume mutable receiver methods will not be callable with `go` as a co-routine unless they use `lock`.

[2019-03-26 01:41] iredmail opened #46 "Pattern match support?"
Will V support pattern match like Erlang?

[code]

[2019-03-26 10:13] medvednikov commented on #46
Most likely there will be `match` replacing the current switch, similar to Rust:

https://doc.rust-lang.org/1.15.1/book/match.html

[2019-03-26 10:14] medvednikov commented on #42
But the name is going to stay the same.

[2019-03-26 10:14] #42 closed

[2019-03-26 10:16] medvednikov commented on #36
The language has to be small and simple, for now this will not be implemented. Maybe in the future if we figure out a simple way to do this.

[2019-03-26 11:07] iredmail commented on #46
- From `switch` to `match`, that's easier to understand the code.
- But how about pattern match in other statements (like Erlang)?

[code]

[2019-03-26 11:09] medvednikov commented on #46
I'm not familiar with Erlang, if this does what I think it does, you'll be able to achieve this with

var1, var2 := 1, 2

Like in Go

[2019-03-26 11:12] iredmail commented on #46
Thanks. This is not mentioned in document (yet). :)

[2019-03-26 11:17] medvednikov commented on #46
Yeah it will be once it’s implemented.

[2019-03-26 11:20] #46 closed

[2019-03-27 12:18] PavelVozenilek opened #47 "module name déjà vu"
In base64 example:

[code]

Is there a reason for this redundancy and potential for confusion? Following  `file name = module name` rule would be the simplest, making no room to cause a mess. D does this (by default) and it is one of brighter language features.

[2019-03-27 12:23] medvednikov commented on #47
Modules can have dozens of files.

[2019-03-27 14:51] PavelVozenilek commented on #47
Is it wise to support such design monsters?  If a module really needs to be that big, why not require naming like:

[code]
All such files would form the `base64` module.

------

Perhaps more useful than giant modules would be the ability to express the constraint: "_I want this module to be used only from that module, and by no one else_". Kind of utility modules.

This could be implemented by fi

[2019-03-27 17:43] medvednikov commented on #47
Of course having so many files in one module is a bad idea. I should have said "most modules will have more than one file".

[2019-03-27 17:45] #33 closed

[2019-03-28 03:46] zeromake opened #48 "Does vlang have a golang type keyword?"
vlang declare `interface`, `struct` different from golang not use `type`.
vlang
[code]
golang
[code]
golang `type` keyword Can also be used as type alias.
E.g `context.Context` and `golang.org/x/net/context.Context` type alias

[2019-03-28 15:44] medvednikov commented on #48
It does. For example:

`type MyFn fn (a, b int)`

This will be documented soon.

Originally I used Go's syntax `type Foo struct` but then decided to go with traditional C syntax for brevity.

[2019-03-29 02:11] #48 closed

[2019-03-30 01:09] medvednikov opened #49 "The V playground is live"
https://vlang.io/play

This is a pre-alpha stage. The language is going to become
a lot more stable in the next month.

Please report all issues via GitHub.

For security reasons imports are temporarily disabled, the size of the program is limited,
and your program can't run for more than 1 second.

Coming soon: online C to V translator.

Coming not so soon: online C++ to V translator.

[2019-03-30 02:33] andrewda commented on #49
This is awesome, thanks so much for putting the time into getting this up and running. Can't wait for the full release!

[2019-03-30 07:51] PavelVozenilek commented on #49
Tried this:
[code]

and it says:

`Failed to launch compiled program
`

[2019-03-30 08:14] zac-garby commented on #49
Could it be that variables must be used or else it won’t compile (similar to Go)?

[2019-03-30 08:25] iredmail opened #50 "Waiting for few (third-party) modules/frameworks"
- ldap
- mysql
- postgresql
- a web framework like Rails/Django/...

Any plan? Or maybe already have them in development?

[2019-03-30 09:00] PavelVozenilek commented on #49
@zac-garby: not really, this is the same:

[code]

Without the type cast it works.

And if there's "unused variable = bug" feature, it should be enforced only in release mode, not during the development.

[2019-03-30 10:38] zac-garby commented on #49
Ah okay, well I suppose these bugs are to be expected since it's pre-alpha.

[2019-03-30 13:13] ntrel commented on #49
This is great, I've tested and updated #41, finding a bug. I also listed some issues with comment formatting there. Another issue I have is that the editor text box is too tall for my screen (1024x600), so I have to keep scrolling down to check for an error message. Could the box be say 80% of the window height instead?

[2019-03-30 21:22] MaxGraey commented on #49
Simple example:
[code]
print:
[code]

How so simple cases not tested?

[2019-03-30 21:30] HedariKun commented on #49
you need to write it like this.
[code]

[2019-03-30 21:32] MaxGraey commented on #49
Ho, this should be legit. For example this:
[code]
works as expected with parenthesis

[2019-03-30 21:33] HedariKun opened #51 "functions"
are functions first class like go-lang?

[2019-03-30 21:37] HedariKun commented on #49
[code]
this works fine.
so i guess having parenthesis on declaring variable is illegal in this language, or maybe just a bug.

[2019-03-30 21:41] medvednikov commented on #49
There are no rules or bugs here. Run this in Go and you'll get the same

` syntax error: unexpected :=, expecting )`

Unlike the `for [expr]` form, `for ;;` doesn't use an expression.

[2019-03-30 21:42] HedariKun commented on #49
oh, oki

[2019-03-30 21:43] medvednikov commented on #49
@MaxGraey you made your position on V very clear in multiple threads. You don't like it, I get it.

Please don't pollute the discussion by repeating this everywhere, especially by using language like "How so simple cases didn't test?" when using completely wrong syntax.

[2019-03-30 21:45] medvednikov commented on #49
@ntrel I've made the textbox a bit smaller, should fit on most >12'' laptops

[2019-03-30 21:46] HedariKun commented on #50
well, i think the question is how we can make one, is like go packages system? or something like rust ?

[2019-03-30 21:49] medvednikov commented on #50
Hi @iredmail

It's of course too early for third party modules since the language is not released yet.

The things I worked on: postgres driver (very basic right now), hardware accelerated graphics library (2D, 3D, text rendering), sqlite, glfw.

[2019-03-30 21:50] medvednikov commented on #50
There will be a centralized package manager. Similar to ruby gems.

[2019-03-30 21:50] medvednikov commented on #51
Yes

[2019-03-30 21:50] #47 closed

[2019-03-30 21:55] HedariKun commented on #51
can you give an example for it, or it is feature that will be there in july like generic?

[2019-03-30 21:57] medvednikov commented on #51
Only very basic stuff works right now. So yes, just like generics.

[2019-03-30 21:58] HedariKun commented on #51
oh, oki then
best luck on that man

[2019-03-31 05:15] kibumh commented on #50
A quote from  https://blog.golang.org/modules2019:

V has taken lots of good ideas from several languages including Go. I hope V takes a Go's approach about package management.

[2019-03-31 14:13] medvednikov commented on #41
Pointers need a lot of work, thanks.

I don't use a lot of pointers when developing Volt, that's why they received no love.

[2019-03-31 14:14] medvednikov commented on #41
The comments thing will be fixed asap.

[2019-04-01 03:36] kyubuns commented on #49
[code]

[code]

why cant build this code?

[2019-04-01 08:14] wangyghy commented on #49
Hello! In the example  Advanced consts, I want to know what the Methods `str()` means. Why is it omitted in the following? I didn't find the answer in the Documentation.

[2019-04-01 09:37] kyubuns opened #52 "Can I write require member?"
V-lang is very good language!!!

Can I write require member in struct?
I think a struct which has default value is nearly equal null. (ex. User{ id: 0 } )
I don't want to exist them same as null.
What do you think?

---

Example, I want "User must have `id`".

[code]

[2019-04-01 11:36] medvednikov commented on #49
@kyubuns you found a bug with arrays created with `[..]`. Will be fixed soon.

@wangyghy in order for `println` to print a struct, this struct must have a `str()` method. Soon each struct will have a default `str()`.

[2019-04-01 11:43] medvednikov commented on #52
Hi @kyubuns

Yes! See this discussion:

https://github.com/vlang-io/V/issues/3#issuecomment-466788060

If a struct has at least one private int (and in your example `id` is private, since it's the default), it will be impossible to use struct initialization syntax outside the module it's defined it.

So you'll have to provide a construct method (like `new_user() User`).

[2019-04-01 15:41] kyubuns commented on #52
Great.
Thanks!!

[2019-04-01 15:41] #52 closed

[2019-04-01 16:15] ntrel commented on #34
Looks like the website repo is [here](https://github.com/vlang-io/website) :-)

[2019-04-01 16:16] #34 closed

[2019-04-02 10:35] kyubuns commented on #49
I found the code that build failed too.

[code]

[2019-04-02 23:27] kyubuns commented on #49
OK, I understand that the message of compilation error is not output properly now.

[2019-04-03 00:37] medvednikov commented on #49
@HedariKun @kyubuns this is a bug. This code should not compile.

[2019-04-03 09:43] Ivo-Balbaert opened #53 "A V program must have a main function"
The following program:

fn main2() {
        types := ['game', 'web', 'tools', 'GUI']
        for typ in types {
                println('Hello, $typ developers!')
        }
}

gives You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.
It should give a better message like: undefined: main() function

[2019-04-03 11:53] PavelVozenilek commented on #49
Nested comment doesn't work:

[code]
gives:

[code]

[2019-04-03 12:36] seven1240 commented on #49
with the same src

fn main() {
a := i8(10)
println(a)
}

and I hit the "Run" button continuously, I got different results. seems
like I can get someone else's outputs ;)

example outputs:

500500

0
1
2
3
4
5
6
7
8
9

Hello, game developers!
Hello, web developers!
Hello, tools developers!
Hello, GUI developers!

You just found a bug. V can't compile this program, but it should. Please
create a Git

[2019-04-03 13:01] seven1240 opened #54 "How to link to existing C/C++ libs"
Thanks for the great work. Is it possible to link to C/C++ libs right now or any plan?

[2019-04-03 13:02] medvednikov commented on #54
`
#flag linux -lmylib
#include <mylib.h>

C.mylib_fn()
`

[2019-04-03 13:09] MaxGraey commented on #49
btw this example:
[code]
Print result:
[code]

But right and expected result is:
[code]

[2019-04-03 13:11] medvednikov commented on #49
@MaxGraey, no the correct result is 5050.

[2019-04-03 13:19] medvednikov commented on #49
Yes, I'm sure.

You increment i++ twice.

[2019-04-03 13:20] medvednikov commented on #49
This is a correct program: https://play.golang.org/p/xjehVKkAY6z

[2019-04-03 13:20] MaxGraey commented on #49
Yes, my bad

[2019-04-03 14:17] medvednikov commented on #53
Fixed: `function main is undeclared in the main module`

[2019-04-03 14:32] Ivo-Balbaert commented on #53
Thanks!

[2019-04-03 14:32] #53 closed

[2019-04-03 15:28] shouji-kazuo opened #56 "Cannot compile and run program that print pointer value"
I played Vlang playground(https://vlang.io/play), then found a bug.
This is just a short note to inform you.
----
Steps to reproduce:
1. Enter program list as below
[code]
2. Click Run button
3. The outut was below.
`You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`
----
(My English was maybe something wrong, sorry.)

[2019-04-03 15:32] shouji-kazuo commented on #56
[code]

↓
`test.v:2
unexpected token `INT``

[2019-04-03 16:07] medvednikov commented on #56
こんにちは

[code]

This has been fixed, thanks for reporting.

[code]

V uses `'` for strings, I'll make it complain about using `"`.

[2019-04-03 16:10] naltun commented on #56
@medvednikov In V, what is the use case for using `"` (double quotes)?

[2019-04-03 16:13] medvednikov commented on #56
Right now `"` is not supported at all.

[2019-04-03 16:17] medvednikov commented on #56
Done.

[2019-04-03 16:18] naltun commented on #56
I absolutely love this idea. It's something that I love about Go. Nice. 👍

[2019-04-03 16:31] medvednikov commented on #49
@seven1240

Fixed.

[2019-04-03 16:55] zac-garby commented on #56
I think it’s worth having ‘ and “ for strings, because if you want to write a string with a ‘ character inside it you can use “ strings instead of using an escape character, which is arguably nicer.

[2019-04-03 17:01] naltun commented on #56
So wouldn't the easiest thing to do be to make double quotes the _only_ way to make strings? That way, single quotes can be easily added. If double quotes want to be added, strings can have two single quotes. Or maybe escaped double quotes.

[2019-04-03 17:04] medvednikov commented on #56
From my own experience, double quotes are used a lot more often in strings (for example JSON).

[2019-04-03 17:17] zac-garby commented on #56
I agree in a way, but it depends entirely on what you’re doing. For example, if you’re writing a sentence and use the word “they’re”, it will be advantageous to not have to escape that.

To be honest though, if I had to choose one, it would be double-quotes, because I tend to associate single-quotes with single characters.

[2019-04-03 17:18] medvednikov commented on #49
@seven1240

[code]
This program now compiles

[2019-04-03 17:22] naltun commented on #56
@medvednikov Any way to switch V from having single quotes to using double quotes for enclosing strings?

[2019-04-03 18:45] PavelVozenilek commented on #49
I tried this:

[code]

It prints 20 twice, as if V has the same behavior as C, that is promoting small numbers to ints, then doing the calculation, and then converting it back to the small integer.

While this such strategy is valid, these implicit conversions are not always clear to the reader and may result in confusion in certain situations. It also gets more complicated with 64 bit integers.

[2019-04-03 18:59] medvednikov commented on #49
@PavelVozenilek good catch. It will not work like C.

Overflows are not handled right now. When they are, your program will not compile.

[2019-04-04 01:26] shouji-kazuo commented on #56
@medvednikov
Thanks a lot!
ありがとうございました!

[2019-04-04 01:54] pocket7878 opened #57 "Can't pass array as function argument"
Hi!
I played playground, then found a bug.

Steps to reproduce:
Enter a program:
[code]
2. Run
3. Then I got an error message:
[code]

[2019-04-04 01:55] medvednikov commented on #57
Hi

Functions need to return values, there's no error message for that right now, I'll fix it today.

[2019-04-04 01:55] medvednikov commented on #57
`fn reverse(dummy []int) []int {`

[2019-04-04 02:12] #56 closed

[2019-04-04 02:54] medvednikov commented on #57
Fixed.

[2019-04-04 02:54] #57 closed

[2019-04-04 03:04] medvednikov commented on #54
I've added an example to the docs:

[code]

https://vlang.io/docs#calling_c

[2019-04-04 03:39] shouji-kazuo opened #58 "Cannot compile program that contains method that has pointer type receiver"
Steps to reproduce:

1. Enter program list as below:
[code]
2. Click Run button
3. The output was shown as below.
`You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

[2019-04-04 03:40] medvednikov commented on #58
The correct syntax is

[code]

[2019-04-04 03:41] medvednikov commented on #58
`(f mut Foobar)` instead of `(f *Foobar)`

I'll update the compiler so that `(f *Foobar)` doesn't compile.

[2019-04-04 03:42] medvednikov commented on #58
This assumption is correct :)

[2019-04-04 03:46] shouji-kazuo commented on #58
OK, I understood.
ありがとうございました m(_ _)m

[2019-04-04 03:48] medvednikov commented on #58
Fixed.

You should now get `use (f mut Foobar) instead of (f *Foobar) `

[2019-04-04 03:56] shouji-kazuo commented on #58
I have confirmed .
thanks a lot!

[2019-04-04 03:57] #58 closed

[2019-04-04 08:32] ntrel opened #59 "Add timestamp after Run for playground"
It would be good to show a message like '09:30: Execution finished' after the playground program completes. I've been testing code that doesn't print anything, and also seeing the timestamp update would be good confirmation that the updateed code was run. Thanks!

[2019-04-04 08:45] ntrel opened #60 "Prevent address of local variables escaping"
To enforce memory safety, V could prevent the following:
[code]
Escaping via a receiver field could also be prevented:
[code]
When the address is stored in a local pointer, the analysis is more difficult. The local pointer would need to be flagged as containing an address to local data:
[code]

[2019-04-04 09:00] ntrel commented on #58
I don't think letting pointers implicitly dereference is a good idea, and it seems to go against the simple philosophy of V:
[code]

[2019-04-04 10:54] ntrel opened #61 "Pointers should not convert to integers"
[Here](https://github.com/vlang/V/issues/58#issuecomment-479738553) you seem to say that pointers implicitly dereference, so I tried that:
[code]
Instead `i` is something like `1814195804` - I think the address of the pointer is being interpreted as an integer. This should be an error - I think implicit dereference is a confusing feature that is against V's philosophy of keeping things simple.

BT

[2019-04-04 10:59] ntrel commented on #61
With a string pointer instead I get 'V can't compile this program, but it should':
[code]

[2019-04-04 11:12] ntrel opened #62 "JSON syntax"
I suggest the current syntax:
`json.decode(User, data)`
changes to:
`json.decode<User>(data)`

This is more consistent, as types cannot be values in V AFAIK. It also allows for the possibility that V will be able to implement `json.decode` as a generic function, with some future features.

[2019-04-04 11:28] ntrel commented on #62
As an example of `decode<T>` in V:
V already supports compile-time function execution. That could generate a string which could be turned into code (see [D string mixins](https://tour.dlang.org/tour/en/gems/string-mixins)). The function would need a way of getting field names and types from a `struct`, and getting the element type of an array. This would all be slower to compile than implementing

[2019-04-04 11:32] ntrel commented on #43
@tjpalmer Yes, compile-time reflection would be great. I've posted some thoughts on possible native V JSON decoding in a comment [here](https://github.com/vlang/V/issues/62#issuecomment-479859325).

[2019-04-04 12:29] #54 closed

[2019-04-04 12:29] #50 closed

[2019-04-04 13:39] shouji-kazuo opened #63 "Cannot compile program contains interface that implemented by pointer type"
I found a bug while playing Vlang playground.

Steps to reproduce:

1. Enter program list:
[code]

2. Click Run Button
3. I got output as below:
`You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

(Maybe my English is something wrong. sorry.)

[2019-04-04 14:03] medvednikov commented on #44
For now it's possible to compile V => C => WebAssembly.

[2019-04-04 14:03] #44 closed

[2019-04-04 14:34] #49 closed

[2019-04-04 14:49] medvednikov commented on #61
Fixed:

`cannot use type int* as type int in assignment `

[2019-04-04 14:53] medvednikov commented on #60
I prefer Go's behavior: allocate `i` on heap instead of an error.

[2019-04-04 15:08] medvednikov commented on #63
Thanks for reporting, this will take a bit more time to fix. Interfaces don't work with mutable receivers right now.

[2019-04-04 15:12] medvednikov opened #64 "Syntax for access modifiers"
Here's what I currently have in mind:

[code]
What do you think?

&nbsp;

**edit**

Slight improvement:

[code]

&nbsp;

**edit 2**

Immutable struct fields by default got a lot of support:

[code]

[2019-04-04 15:15] medvednikov commented on #64
Perhaps formatting should be different:

[code]

[2019-04-04 15:19] medvednikov commented on #62
I'm not sure which syntax I prefer yet.

But I agree, that it should not be part of the compiler. Everyone will be able to write such code executed at compilation time.

[2019-04-04 23:22] whoizit commented on #64
most readable for me

[code]

[2019-04-05 00:25] medvednikov commented on #64
Yes, perhaps.

Functions:

`fn +foo()`

`fn foo+()`

[2019-04-05 00:34] whoizit commented on #64
same with functions
when there are dozens or hundreds of them, it will be difficult for you to look for postfixes. Should be prefixed, Immediately visible.

[2019-04-05 01:01] shouji-kazuo commented on #64
I agree with @whoizit suggestion.
more readable for me, since it should be clear that access modifier is related to field name, not to field type.

[2019-04-05 01:02] medvednikov commented on #64
Good point, let's do it this way.

[2019-04-05 08:11] Ivo-Balbaert opened #65 "Better error message needed"
The following program correctly indicates there is a bug:

fn main() {
	mut a := 42
	a = 44
	println(a)
	{
		mut b := 67
		println(b)
	}
        b = 9
}

because b is undefined, but it should say that in the error message

[2019-04-05 08:33] shouji-kazuo commented on #65
I got output as below (in Vlang playground):

[code]

[2019-04-05 09:44] HedariKun commented on #64
why not using keywords?

[2019-04-05 11:25] medvednikov commented on #64
I like the approach of Go and Oberon to achieve this without keywords.

Adding more keywords increases complexity of the language, and the definitions would look a lot more verbose:

[code]

[2019-04-05 12:38] HedariKun commented on #64
oh, that makes sense

[2019-04-05 13:01] Ivo-Balbaert opened #66 "Redeclaring same variable more than one in same scope"
This is rightly forbidden: the following code does indeed that, but should perhaps give a better message signalling that: "Redeclaring same variable more than one in same scope is not allowed"

fn main() {
	a := 42
	a := 50
}

You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.

[2019-04-05 13:54] PavelVozenilek commented on #64
It would be also handy to allow minus as word separator in names. It is more readable than underscore.

`-len` would mean read only
`some-name` would be one symbol
`-3` would be negative number
`x - y` would be expression, spaces around the minus required

[2019-04-05 13:57] medvednikov commented on #64
Yes, that would be nice, and I had precisely the same idea. Unfortunately it's not possible.

I don't want to make a whitespace sensitive language, and I want it to be similar to C/C++ and Go. This would be too big of a change for all these developers.

[2019-04-05 13:59] medvednikov commented on #66
Fixed.

[2019-04-05 14:11] #66 closed

[2019-04-05 15:15] ntrel opened #67 "Can't assign `int` to `int?`; `?T` optional type syntax"
This program gives a compile error:
[code]
[code]
(BTW, shouldn't optional types be written `?T` instead of `T?`, so it reads *optional T* left to right like Go type modifier philosophy, not *T optional*? `?T` [is how Zig](https://ziglang.org/documentation/master/#Optionals) writes them).

*Edit:* Clarify last sentence.

[2019-04-05 15:59] medvednikov commented on #67
This error is correct.

You need to unwrap an optional with `or`.

[2019-04-05 16:01] medvednikov commented on #67
[code]

[2019-04-05 16:03] medvednikov commented on #67
`T?` is the syntax used by Swift and C#, two very popular languages.

[2019-04-05 16:47] ntrel commented on #67
@medvednikov No, I want `o` to be an optional. Optionals should allow assignment from their value type.

[2019-04-05 16:50] ntrel commented on #67
Yes, but those languages don't use Go syntax for types (read left to right), they read right to left.

[2019-04-05 16:51] medvednikov commented on #67
Swift and Kotlin do.

[2019-04-05 16:51] medvednikov commented on #67
Indeed. This is not implemented yet.

[2019-04-05 17:15] ntrel commented on #60
I haven't used Go, only read a bit about it. (I found [a stack or heap FAQ](https://golang.org/doc/faq#stack_or_heap)). I think it's best to make heap allocation clear to the user, because it is a lot slower than stack allocation. Also it would be great if you could write a bit about what you're planning for memory management in V. I would guess that automatic memory management without GC or refer

[2019-04-05 17:27] medvednikov commented on #60
Yes, it's a very common problem with Go: it's often unclear when things escape to the heap.

In V only objects declared with `&` do.

[2019-04-05 17:47] ntrel commented on #67
I tried to find pointer and array syntax in Swift and Kotlin, in what I saw they don't seem to use Go `*T`, `[]T` type syntax, but it was hard to find clear documentation. But another argument is with optional pointers:
[code]
Does `f` return a pointer to an optional int, or an optional pointer to an int? With `?T` syntax, it's clear:
[code]

[2019-04-05 21:52] PavelVozenilek commented on #64
All these languages suffer of `TooLongNamesDisease`. Especially C is asking for it. Since it looks that V won't allow function overloading, the pressure would be here too.

Words separated by dash are bit more readable than with underscore. (I noticed this in Lisp code.) Traditional typography employs short dash (`Austria-Hungary`), underscore is a hack from age of typewriters.

If arithmetic oper

[2019-04-05 22:02] PavelVozenilek commented on #3
Very small feature: basic types may provide minimum and maximum constants in form:

`i8.max` (== 127)
`i8.min` (== -128)
`u64.max` (== 4 billion)

`rune.max` would be the Unicode upper limit.

The dot syntax is just the simplest one.

[2019-04-05 22:43] medvednikov opened #68 "Thoughts on making struct fields immutable by default?"
[code]

[2019-04-05 23:28] PavelVozenilek opened #69 "enums"
In C enums play two roles: collection of symbols, and a grouping of constants (slightly better than mere list of `const`). There's lot of magic involved: implicit initial numerical value, automatic increments, implicit cast to int.

OTOH _iota_ is missing. (Also switch doesn't require to handle exhaustively all possibilities and the names of enum values spill out and pollute everything.)

What V c

[2019-04-06 05:54] zac-garby commented on #68
I like the idea, so long as there’s an advantage to immutable fields (e.g. perhaps they can be optimised further during compilation)

[2019-04-06 09:08] PavelVozenilek commented on #68
Why not to reuse constants?

[code]

Immutable struct member is exception, should not be default.

[2019-04-06 09:58] ntrel commented on #68
This is good, consistent with variables. (`mut` should be a type modifier (see #41), rather than a declaration modifier, this helps towards that).

All the same advantages as immutable variables, including optimization. In particular, immutable data can be shared across threads without races.

`const` in V means compile-time constant. A struct is essentially multiple variables grouped together, so

[2019-04-06 10:15] ntrel commented on #41
This also applies to arrays:
[code]
* V needs to allow the reference variable to have separate mutability from the array data. So `c` above should actually be initialized with `[mut 4,5]`.
* Note: To simplify the type system, having head mutability with immutable tail `mut(*)T` is more important than having head immutability to mutable tail `*mut(T)`, we can just use `mut` for both as a workaround

[2019-04-06 10:34] PavelVozenilek commented on #68
One note: immutability is something what can be inferred by the compiler (if the language doesn't act against, e.g. via function pointers).

1. The compiler can (for speed probably in release mode) track mutability status of variables/data members, and warn if they are used inappropriately, causing data race risk.
2. Hypothetical advanced IDE could differentiate immutable and mutable data/function

[2019-04-06 10:50] ntrel commented on #64
I assumed that, but I would like V to allow overloading only on number of arguments. This is a lot simpler than C++ overloading, no complications about `fn f(int)` vs `fn f(i8)` etc.

If we're using symbols for this, I think the same syntax for public and private should apply to functions and types. The default could be public, which for fields means read-only (to follow your design). Then `-ident

[2019-04-06 13:57] shouji-kazuo opened #70 "Cannot compile and run the program that contains array of struct"
When I implemented the program as below on playground, I got a bug.

[code]

Output:
`You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

This is just a short note to inform you.

----
More info:

I removed `for` statement, I got same output.
[code]

-> `You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

[2019-04-06 14:40] medvednikov commented on #64
Immutable struct fields by default got a lot of support:

[code]

[2019-04-06 15:32] ntrel commented on #64
Yes, where I wrote `T`, you can write e.g. `mut int`. My comment here is about access only, mutability is a separate concern. In your reply it seems there's no way to have a field be mutable in the current module, but read-only outside it. Read-only public fields seems a good default for fields that are mutable in private. Also, what about functions and type access as I mentioned?

[2019-04-06 16:00] ntrel commented on #70
It seems an array of structs can't be initialized, these also fail:
[code]
[code]

[2019-04-06 16:04] medvednikov commented on #70
There are 2 bugs here.

1) `[]` intialization syntax doesn't work when combined with struct initialization syntax.
2) I broke certain kinds of array type registrations yesterday.

`users := [a,b,c]` compiled yesterday, but not today.

I'll fix this asap.

[2019-04-06 16:09] medvednikov commented on #64
Good point, this is the 5th option, and it's not handled.

So perhaps Oberon's readonly `-` can be brought back for this:

[code]

This is getting a bit complicated...

The default is private in all major languages, it's not going to change. The default must always be private.

[2019-04-06 16:10] medvednikov commented on #64
There will never be function overloading:

https://vlang.io/docs#fns

[2019-04-06 16:25] ntrel opened #71 "Declaration with type needed?"
I've found some problems with declaring variables:
1. How to declare an empty array
2. How to declare an empty optional value
3. How to declare an optional value with a value

These are all for mutable variables. There are workarounds for 2 and 3 - make functions that return optionals (see #15) and call them as variable initializers. For 1, I tried:
[code]
At the moment that doesn't work (maybe `[

[2019-04-06 16:28] medvednikov commented on #71
Support for optionals is very limited right now.

I implemented them for error handling, so they can only be returned from functions at the moment. Full support will be implemented after the language is open-sourced.

An empty array can be declared with

`a := []int`

[2019-04-06 16:29] medvednikov commented on #71
This will never happen. There is and always will be only one way to declare variables.

[2019-04-06 18:19] bitsnaps opened #72 "Cast int to string returns error"
I was playing with playground compiler, I got the error `You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.` trying to cast a simple `int` to a `string`:
[code]
trying to make `i` mutable didn't change anything.

[2019-04-06 18:21] medvednikov commented on #72
Thanks for reporting this. V should give an error, since you can' cast an int to string like this.

Use `'$i'` or `i.str()` instead.

[2019-04-06 18:21] bitsnaps opened #73 "interface error with a struct type"
Trying to use `interface` to create a generic `toString()` function, I got a bug error:
[code]

[2019-04-06 18:30] medvednikov commented on #73
Thanks, I know what's causing this. Will try to fix today.

[2019-04-06 18:37] medvednikov commented on #72
Fixed:

[code]

[2019-04-06 18:37] #72 closed

[2019-04-06 19:32] bitsnaps opened #74 "suggestions for syntax & improvements"
I've seen recent languages and I confirm V is different in the way of making things simple concise and readable, I really like the "one way of doing things", just curious if some keywords can decrease learning curve and make things more readable:
1- `mut` keyword is not very common, w've seen `var` the most probably used one, or even `def` is a good candidat, I found `var` more significant to the

[2019-04-07 01:47] medvednikov commented on #74
Hi @bitsnaps

Thanks for your input.

Actually most languages use `[name] [type]` syntax: Pascal, Go, Rust, Swift, etc. C and related languages are an exception.

You can read about the advantages of this approach here:

https://golang.org/doc/faq#declarations_backwards

Regarding everything else, these things are not going to change.

[2019-04-07 01:47] #74 closed

[2019-04-07 01:50] medvednikov opened #75 "Better support of optionals"
Create them outside of optional functions, `None`, assign values, etc.

[2019-04-07 01:51] medvednikov commented on #71
I'm closing this, since declaration is not going to change.

I've created a separate issue for optionals:

https://github.com/vlang/v/issues/75

[2019-04-07 01:51] #71 closed

[2019-04-07 01:53] medvednikov commented on #69
Sounds good to me.

[2019-04-07 01:55] medvednikov commented on #67
I don't think pointer optionals are going to be allowed.

Pointers in general should be rarely used in V.

[2019-04-07 02:04] medvednikov commented on #12
`a` escapes:

https://play.golang.org/p/AG9MHkb-W_3

[2019-04-07 07:25] PavelVozenilek commented on #64
It is straying off topic, but:

There are valid reasons why function overloading got a really bad name:

1. C implicit number/pointer conversion rules.
2. C++ made the situation much worse by cast operators, _two_ implicit conversions rule, and above all, by the namespace mess with Koenig lookup.
3. Primitive C tools like grep and ctags cannot handle it.

If these mistakes are avoided, function ov

[2019-04-07 14:46] ntrel commented on #71
@medvednikov Ok, then we solve the problem with cast expressions instead.

Can we please change this to `[]int()`, because that is an expression instead of a type, so it can be passed as a function argument.
That would then be consistent with optional declarations, which can be `T?()` and `T?(val)`.

[2019-04-07 15:02] ntrel commented on #67
How should we model pointers that can be null then? This is a key motivation for optional types, replacing null. How will we port programs from other languages to V?

Reference types are a crucial feature to refer to heap allocated data, or the same data from multiple places, what will we use instead of pointers?

[2019-04-07 15:12] medvednikov commented on #67
Right now there's `isnil` builtin function to handle C nil pointers, but using optionals sounds like a better idea.

Then it makes sense to use `?*int` syntax.

[2019-04-07 16:42] bitsnaps commented on #74
The last thing I would talk about is about escaping chars, some languages use different style of strings, string declared with double quote "" is string interpolation, whereas simple quote used to espace special characters:
[code]
This way makes easy to use `$` in your string without need to escape it.

[2019-04-07 19:40] GerardRodes opened #76 "Printing range"
`
fn main() {
        println(0..10)
}
`

[2019-04-07 21:52] medvednikov commented on #74
`$` is normally not used before letters. `$123` doesn't need escaping.

[2019-04-07 21:54] medvednikov commented on #74
Most likely I'll add `"` for denoting raw string literals.

[2019-04-08 05:44] krhubert opened #77 "Multidimensional array not compile"
`fn main() { n := [[0]] }`

[2019-04-08 18:39] mindplay-dk opened #78 "Abbreviated keywords"
I know you shouldn’t quibble too much about syntax (everyone has different opinions) but I find that abbreviated keywords are a bit harmful to the overall readability of the language.

A “mut” is a dog.

I can’t even pronounce “fn”. fun? fnuh? The word “function” actually registers as a word to the human eye, whereas the letters “fn” register as, nothing, really. Looks more like a bad choice of va

[2019-04-08 20:51] MaxGraey opened #79 "Can't compile structs with string fields"
[code]
You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.

[2019-04-08 20:59] mrtnpwn commented on #79
You used a back tick instead of a single quote symbol, replacing these
should make it to compile correctly.

[code]

El lun, abr 8, 2019 03:51 PM, Max Graey <notifications@github.com> escribió:

[2019-04-08 21:01] mrtnpwn commented on #79
You used a back tick instead of `'`.

[2019-04-08 21:03] mrtnpwn commented on #79
This compiles correctly:

[code]

[2019-04-08 21:05] MaxGraey commented on #79
Yes, but this should support.
[code]
This compiles so why `Foo { s: `foo` }` not compiled?

[2019-04-08 21:08] medvednikov commented on #79
` is used for characters. `foo` should not compile, I'll fix it today.

[2019-04-08 21:14] MaxGraey opened #80 "Imprecise double arithmetics?"
[code]
Output: `false`
Expected: `true`

[2019-04-08 21:15] medvednikov commented on #80
https://play.golang.org/p/NAFwcLhTQK0

[2019-04-08 21:21] MaxGraey commented on #80
In Go: `0.1 + 0.2 == 0.3` and it's true. Btw it's wrong! In all languages this will be false
1. [Go](https://play.golang.org/p/PV4m3XXFpkv) `true`
2. [Rust](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d46367b55fc872b7560a6b7c380e1aa3) `false`

But in your case even `0.1 + 0.2 == 0.3` is false:
[code]
Output: `false`

How you explain this?

[2019-04-08 21:28] medvednikov commented on #78
Hej

It's a thing of preference. Personally I don't think `fn` is confusing, especially in a language that has like a dozen keywords.

We use abbreviations in different fields all the time: `f(x) = √x`. Rust has `fn` and `mut`, Go has `func`, Python has `def` etc. So I don't think many developers find abbreviations confusing. This just has to be balanced (looking at you, Perl).

V is a minimalisti

[2019-04-08 21:37] medvednikov commented on #80
V running in the playground compiles to C, that's how it works there.

[2019-04-08 21:42] MaxGraey commented on #80
@medvednikov
Same as Rust:
https://onlinegdb.com/BkdNxHYtV

[2019-04-08 21:46] medvednikov commented on #80
Right now floating-point constants default to `f32`, instead of `f64`. Will be fixed today.

[2019-04-09 05:06] cdunn2001 opened #81 "Returning modified version of object -- syntax"
[code]
I think "u," should use something other than comma, for readability. Maybe `{u | is_registered: true}`, which looks like math, "u such that ...".

[2019-04-09 05:07] medvednikov commented on #81
Yes, I don't like the comma either. `|` looks nice.

[2019-04-09 05:27] cdunn2001 opened #82 "msgpack.decode()"
We already have `json.decode()`. After the early release, I'd volunteer to add `msgpack.decode()` to the language in the same way as you've already implemented `json`.

**msgpack** is much easier to parse than **json**, so it's hardly any extra bloat. It's practically 1:1 with **json**, and it's quicker to parse and to encode. Its integer compression is almost as good as protobuf, and it's faster.

[2019-04-09 06:22] medvednikov commented on #82
json decoding being part of the compiler is a temporary thing.

V will have strong compilation time capabilities soon after open-source release.

So everyone will be able to implement their favorite protocol :)

[2019-04-09 07:53] cdunn2001 commented on #82
Good. Not like Go, where the intrinsic datastructures are very efficient but user-defined containers suffer.

[2019-04-09 07:53] #82 closed

[2019-04-09 08:48] jkleiser opened #83 "V can't compile this program, but it should?"
I tried this in vlang.io/play ...
[code]
and got "You just found a bug. V can't compile this program, but it should. Please create a GitHub issue."

This, however, works fine:
[code]

[2019-04-09 13:05] ThatNerdyPikachu opened #84 "Why is there an #include <math.h> in math.v?"

[2019-04-09 14:08] ntrel commented on #49
Thanks, it fits on screen now :-)

[2019-04-09 14:13] ntrel commented on #70
@medvednikov:

Do you have a test suite for V? It would be good to have small V files to make sure nothing gets broken when updating the compiler. Maybe I could help out turning code from issues into V test files.

[2019-04-09 14:17] ntrel commented on #67
Great! When the source is available, I might be able to update the compiler to use `?T` instead of `T?`. Let me know if you want me to update the docs and examples if you decide to implement the change.

[2019-04-09 14:33] Ivo-Balbaert opened #85 "Calculating Fibonacci imperatively"
I can't find anything wrong with the following program and the PlayGround also reports:
You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.

const (
    MAX = 10
)

fn main() {
	mut fibs := [0; MAX]
	fibs[0] = 1
	fibs[1] = 1

	for i:= 2; i < MAX; i++ {
		fibs[i] = fibs[i-1] + fibs[i-2]
	}

	for j:=0; j < MAX; j++ {
		println('The $j-th Fibonacci number

[2019-04-09 15:02] naltun commented on #84
For reference:
https://github.com/vlang/v/blob/master/math/math.v#L7

[2019-04-09 15:10] ntrel opened #86 "Address of constant"
[code]
Shouldn't it be an error to take the address of a constant or enum member (as `&7` is)?

[2019-04-09 15:18] ntrel opened #87 "Bitwise & bug"
[code]
It seems V supports C `| & || &&` operators. Above, `foo & bar` should print 1, not 0. The same happens with literals `1 & 2`. (Also, `foo &bar` is auto-formatted without a space after `&`).

(It might be useful to keep unimplemented xor `^` token available for other syntax instead, and it's a rare operation so it could just have a `math.xor<T>(a,b T)` function instead).

[2019-04-09 16:11] medvednikov commented on #85
Bug with string interpolation.

This works:

[code]

Will fix, thanks.

[2019-04-09 16:14] medvednikov commented on #84
V stdlib uses libc for some functions.

It's possible to define them with

[code]

But it's too verbose sometimes.

[2019-04-09 16:15] medvednikov commented on #86
Indeed it should. Thanks!

[2019-04-09 16:16] medvednikov commented on #83
Yes, I need to clean up the type casts. Quick fix, will do today.

[2019-04-09 16:22] medvednikov commented on #70
I do have lots of tests, just haven't been running them before deploying the playground.

Might be a good idea :)

[2019-04-09 16:25] medvednikov commented on #87
It was a bad idea to use `&` for both referencing and `AND`.

But I need to make the language consistent with C/C++, Go, Java, Rust etc. That's why `^` has the same function. (Only `^=` works for now.)

`println(foo &bar)`

This is a parser bug, will fix, thanks.

[2019-04-09 18:39] arhen opened #88 "inconsistent way of syntax to updating variable"
In the variable section of docs, u said:

but later in the loop section, specially at 'traditional' loop style,
`for i := 0; i < 10; i++ {`
`println(i)`
`}`

Why var 'i' can be changed without declaring it with 'mut'?

[2019-04-09 18:41] medvednikov commented on #88
Good question.

I decided not to require `mut` here because the counter is always going to be mutable by definition.

[2019-04-09 18:45] arhen commented on #88
Okay. I agree to this. looks simpler.

but u need it to explain this on docs.

just random thought from me after read the docs.

[2019-04-09 18:45] medvednikov commented on #88
Agreed, I’ll update the docs.

[2019-04-09 18:47] medvednikov commented on #88
Done:

https://vlang.io/docs#for

[2019-04-09 18:47] #88 closed

[2019-04-09 18:56] arhen commented on #88
Hell fast!, nice.
I have some random things about 'style' that i want to ask it to you. I'll postpone until there is no main bug. it's not necessary i think.

but maybe u want some brainstorming? lol.
keep working on. this cool stuff will be huge soon!

[2019-04-09 20:18] mindplay-dk commented on #78
Note that I never said "confusing", I said "harmful to readability".

"func" and "def" at least are sounds you can pronounce... not that "funk" and "deaf" make much sense in the context of programming ;-)

Anyhow, your language, your call :-)

[2019-04-09 20:18] #78 closed

[2019-04-09 20:38] medvednikov commented on #78
I actually put it to vote:

https://twitter.com/vlang_io/status/1099687714042114049

Not very large sample, but still :)

[2019-04-10 07:05] kyubuns opened #89 "defer"
I found `defer` keyword in a document.
Is `defer` supported?
Is there any other way to do things when I'm out of scope? (ex. deconstructor of C++, IDisposable of .net)

[2019-04-10 07:36] medvednikov commented on #89
Defer will be supported.

No deconstructors :)

[2019-04-10 07:50] kyubuns commented on #89
Thanks for the reply.

[2019-04-10 07:50] #89 closed

[2019-04-10 08:21] arhen opened #90 "unable to handling error on some syntax"
I've found several case.

1)
[code]

output : bug found message

2)

[code]

output : nothing.
expected: error handling on syntax

[2019-04-10 08:26] jkleiser opened #91 "GitHub, Slack, Twitter, Reddit icons misplaced"
For certain browser window sizes, the icons linking to GitHub, Slack, Twitter and Reddit on vlang.io shows up more or less vertically in the middle of the window, on top of "The V Programming Language". See attachment. I'm using Safari on macOS, and the problematic window width is 1230px.
![Screenshot](https://user-images.githubusercontent.com/107986/55863492-eb1a0700-5b7a-11e9-8f95-cc0e12d40d56.p

[2019-04-10 08:32] arhen opened #92 "mastermind behind handling '$'"
i just playing around $ syntax.
it's weird for me for some case.

#First case. (Spacing)

[code]

#Second case. (just $)

[code]

if we combine both case,
[code]

there is what I mean a 'weird' logic.
it should be

what is this mean at all?

[2019-04-10 11:21] jkleiser commented on #83
I still get that message in vlang.io/play. ;-)

[2019-04-10 12:11] #84 closed

[2019-04-10 12:14] medvednikov commented on #83
Fixed.

[2019-04-10 12:14] #83 closed

[2019-04-10 12:21] medvednikov commented on #90
#1 is fixed, #2 is a bit trickier.

[2019-04-10 12:27] medvednikov commented on #87
Actually it runs correctly:

https://play.golang.org/p/4AZ5omk6_gH

[2019-04-10 12:27] #87 closed

[2019-04-10 12:30] medvednikov commented on #86
Fixed.

[2019-04-10 12:30] #86 closed

[2019-04-10 12:34] medvednikov commented on #92
Good find! Fixed.

[2019-04-10 12:34] #92 closed

[2019-04-10 12:37] medvednikov commented on #81
`|` will be used instead of `,`. Docs have been updated.

[2019-04-10 12:37] #81 closed

[2019-04-10 13:48] mindplay-dk commented on #78
Huh. It seems the fashion is to just abbreviate more and more.

I wonder if you had offered an option `f()`, would most people prefer that? ;-)

As someone [pointed out](https://twitter.com/jadbox/status/1099699320515751937), you might even consider having no keyword for functions at all.

This may seem controversial of me, but I'm actually *more* comfortable with *no* keywords than I am with abbr

[2019-04-10 13:57] ntrel commented on #87
Sorry, stupid mistake, of course b10 & b01 is 0.

[2019-04-10 13:58] mindplay-dk commented on #81
It's supposed to look like a union? Probably this makes more sense:

    return u | { is_registered: true }

That is, it's an operation (a union) of `u` and additional property-set `{ is_registered: true }`.

You probably referenced Elm records for this syntax? It surprised me there, too - placing the operator *inside* one of the operands seems like somewhat of an odd choice.

I couldn't find an e

[2019-04-10 13:59] mindplay-dk commented on #81
Well, strike that, it of course doesn't make sense with objects of the same type - never mind! ;-)

[2019-04-10 14:17] ntrel commented on #78
When Rust first adopted `fn` I thought it looked ugly. After a while I got used to it and prefer it to no keyword in C or Go `func`. As it's short, I would even like it in lambdas: `fn a1,a2 => expr`. Keywords make code easier to read (with syntax highlighting), particularly in a complicated expression.

[2019-04-10 14:21] ntrel commented on #78
Same with `println` or `writeln`, looks weird at first, but it's very common so you get used to it. The ln gets pronounced lin, fn gets pronounced fun. Flickr gets pronounced flicker.

[2019-04-10 15:20] ntrel commented on #64
OK.

Read-only field syntax without mutable data should be an error, it's correct if `mut int` is the field type. I don't think your example is that complicated, when thinking of mutability and private/public as two separate concepts.

But should functions and type names be public or private by default? If private then `+identifier` would be a consistent way to make them public. If public, I don't

[2019-04-10 15:33] mindplay-dk commented on #78
In deeply nested lambdas, I find a keyword makes it less readable - the `->` makes a fine visual cue, I read it out as "becomes", which makes complex nested lambdas quite easy to read out loud.

This was just proposed as alternative closure syntax for PHP, and a whole of bunch of people are quite unhappy with this syntax - it seems unnecessarily noisy compared with JS closure syntax.

Closures are

[2019-04-10 15:52] mindplay-dk commented on #78
[Skew](http://skew-lang.org/) allows you to pick syntax:

[code]

Rationale from the manual:

So this should resonate with you.

However:

I think these are really good points and even complex Skew code reads just beautifully.

I'm generally all for *one* clean syntax - but willing to make exemptions to better fit different use-cases: methods, stand-alone functions and inline lambdas serve very di

[2019-04-10 16:10] npc51082 opened #93 "Const, variable, mutable declaration"
Hi, first of all let me say that this project looks very promising. Good job.

Now, I've seen the docs, and there are (at least) 3 ways of declaring stuff:

[code]

So PI, x and y are what I'm calling "stuff" (constants and variables). And they are declared in very different ways.

I understand the reasoning behind this, as it is inspired by Go. But have you considered using a more "uniform" (in m

[2019-04-10 16:49] arhen commented on #90
when compiling, u must set #2 case as error syntax.

[2019-04-10 19:10] medvednikov commented on #93
Thanks for your suggestion, but the syntax is final.

[2019-04-10 19:10] #93 closed

[2019-04-10 19:41] medvednikov opened #94 "Self-hosted linker"
Right now V relies on external linkers, this makes cross-compilation impossible.

Surprisingly , `lld` still doesn't support linking Mach-O `.o` files at all after years of development.

V will have its own linker written in V.

[2019-04-10 20:03] PavelVozenilek commented on #69
consts and enums could be merged into one feature. I'd prefer const keyword:

[code]

[2019-04-11 00:25] medvednikov commented on #79
Fixed:

`invalid character literal (more than one character)`

[2019-04-11 00:25] #79 closed

[2019-04-11 02:04] w1991668899 opened #95 "Does it have its own assembly language? Like golang"
Does it have its own assembly language? Like golang

[2019-04-11 04:18] medvednikov commented on #95
Not at the moment, no.

[2019-04-11 04:18] #95 closed

[2019-04-11 05:34] wangyghy opened #96 "+'$a' can't compile"
[code]

You just found a bug. V can't compile this program, but it should.

[2019-04-11 06:25] mindplay-dk commented on #64
The plus and minus look like operators.

I find this extremely confusing and noisy - the meaning of plus and minus aren't naturally understood as anything other than operators, so this is a bit too creative for my taste.

Fewer characters do not necessarily make something easier to parse for a person.

We're used to words like "public", "private", "internal" etc. from english language - and if not

[2019-04-11 08:47] medvednikov opened #97 "V forum is live"
https://forum.vlang.io

Initially I was going to set up a Discourse instance, but it turned out to be way too bloated for my liking.

This simple forum/blog software is written in V and will be open sourced after the language is.

It's very minimalistic, but it gets the job done. There's not a single line of JavaScript :)

[2019-04-11 09:50] wangyghy commented on #97
There's not a single line of JavaScript :)

I like it

[2019-04-11 11:00] fl0under opened #98 "Can't use name 'array' for an array"
Hi,

In the playground the following code got this error message:
test.v:4
expected `{`, but got `)`

[code]

although using any other variable name will compile correctly and print. I can't see anything in the documentation that says 'array' is a reserved keyword/type or something like that.

And by the way I really like the direction this language is going in, keep it up!

[2019-04-11 11:22] ntrel commented on #69
I think const and enum are different things. const allows symbols in the same block to have different types, because of this it's less obvious the constants need to be namespaced. enum auto-increments when an expression is missing.

[2019-04-11 11:25] ntrel commented on #69
I agree that `const id = expr` inside a function is useful, particularly in generic code. I'm not sure enum is that useful inside a function.

[2019-04-11 11:41] npc51082 opened #99 "Arrays separated by space"
This compiles and runs:

[code]

But should it? I mean, I personally like that we can define an array separated by spaces (like [MATLAB](https://en.wikipedia.org/wiki/MATLAB#Syntax)).

But the problem is when you need something like this:

[code]

This prints:

[code]

In MATLAB, for this kind of things, we have to be very careful with where we put spaces. In V, we would need to write `items := [1

[2019-04-11 11:57] ntrel commented on #93
`mut` is not just for variable declarations. It will likely be used for struct fields next to the field type. Hopefully mut will be a type modifier, used anywhere a type can be written.

I also think it's good to have `:=` for initialization rather than reusing `=`.

[2019-04-11 12:19] ntrel commented on #81
+1, this reads less ambiguously. This syntax could also allow omitting field names: `u | {5}`. {u | 5} could be just a programmer mistake where they meant to use integer bitwise `|` to initialise the first field.

[2019-04-11 13:14] mindplay-dk commented on #81
I don't understand, what would that mean?

How would it know what to do with the value `5`?

[2019-04-11 13:21] mindplay-dk commented on #98
It probably should be though?

Allowing function/var-names like `array`, `for`, etc. is a pretty bad idea.

The error message could be improved though.

[2019-04-11 13:28] MaxGraey commented on #98
@mindplay-dk why? According to docs `array` even not reserved keyword.

[2019-04-11 13:32] MaxGraey opened #100 ""Compilation took too long" for simple example with struct"
[code]

Output: Compilation took too long

[2019-04-11 14:12] ntrel commented on #81
I meant a different struct, not `User`, sorry:
[code]
Then `s | {5}` would equal `S{5,4}`. With the existing syntax, `{s | 5}` is less clear, it requires the reviewer to know `s` is a struct to understand the code. If `s` was an integer the syntax would also be valid, but it wouldn't mean struct modification. With your syntax, the coder can infer that `s` must be a struct (for the code to be valid

[2019-04-11 14:21] ntrel commented on #100
For me it compiles but says: you found a bug. It should say "No `str` method for struct `Point`"

[2019-04-11 14:50] MaxGraey commented on #100
Yes, this works:
[code]

[2019-04-11 16:53] 1l0 commented on #20
Can I write something like
[code]
as in Go?

[2019-04-11 22:58] medvednikov commented on #97
The entire web app is a single 65 KB binary file, so deployments and maintenance are going to be pretty easy.

<img width="311" src="https://user-images.githubusercontent.com/687996/55998309-0b9eaa00-5cbe-11e9-9752-c644b7893470.png">

[2019-04-11 23:03] medvednikov commented on #98
While this is indeed a bad name for a variable, `array` is not a keyword, so it should be allowed.

Will fix, thanks.

[2019-04-12 01:08] medvednikov commented on #99
Fixed.

White space is not significant in V, so separation by spaces is not an option.

[2019-04-12 01:08] #99 closed

[2019-04-12 01:12] medvednikov commented on #100
Fixed:
[code]

[2019-04-12 01:12] #100 closed

[2019-04-12 01:12] medvednikov commented on #100
In the future structs will be printable by default.

[2019-04-12 01:21] medvednikov commented on #29
Thanks @chinanf-boy

After the release the website and the docs will be available in several languages, including Chinese of course.

[2019-04-12 04:43] w1991668899 opened #101 "V can't compile this program, but it should."
fn main() {
	char := [1, 2, 3]
	println(char)
}

[2019-04-12 05:11] medvednikov commented on #98
Fixed.

[2019-04-12 05:11] #98 closed

[2019-04-12 05:42] medvednikov commented on #101
Fixed.

[2019-04-12 05:42] #101 closed

[2019-04-12 09:32] chinanf-boy commented on #29
@medvednikov
Hit me if the DOC change, i will update the Chinese one. :smile:

[2019-04-12 12:18] MaxGraey opened #102 "Unexpected restrictions for identifier names"
[code]
[code]
The same with `float`, `long`, `unsigned`, `signed`, `void`, `inline`, `typedef` and `double`.
The same issue as #101

All of this names are not reserved keywords

But with some reserved keywords like `bool` this works =)
[code]
[code]

[2019-04-12 12:41] MaxGraey opened #103 "compiler should check int overflow"
[code]
[code]
Also:
[code]
Output:
[code]

[2019-04-12 13:07] medvednikov commented on #103
What's wrong with the panic when you try to create an array with -1 elements?

[2019-04-12 13:09] MaxGraey commented on #103
@medvednikov It should be compile time error in this case.
Also `[1; 1073741823]` is not negative but also cause to `V panic: malloc <0`

[2019-04-12 17:39] MaxGraey opened #104 "It seems you have competitor with similar syntax and design"
https://github.com/nickmqb/muon

[2019-04-12 22:34] #104 closed

[2019-04-12 23:37] fuzzthink opened #105 "Native cross platform UI library"
Will the UI library be for desktop only or will it target mobile platforms too?

[2019-04-13 01:07] medvednikov commented on #105
Right now it's desktop only, but mobile support is planned.

[2019-04-13 01:11] medvednikov commented on #103
There's no compile time check of integer literals.

It's not very critical, so I don't want to spend time on this right now. It will be taken care of after the language is open-sourced.

[2019-04-13 01:13] medvednikov commented on #102
All C keywords and types will result in this.

Not critical, will fix after the release.

[2019-04-13 08:52] fuzzthink commented on #105
great, thanks.

[2019-04-13 08:52] #105 closed

[2019-04-13 18:54] HedariKun opened #106 "issue with the fourm"
![1555181591](https://user-images.githubusercontent.com/36459011/56084090-999da080-5e36-11e9-803a-d8b17c42760d.png)
i just posted this topic, but it says 4 hours idk if this is an issue or not

[2019-04-13 20:56] MaxGraey opened #107 "Can't handle scientific float format?"
[code]
Output:
[code]

[2019-04-14 00:37] medvednikov commented on #106
Yes, the time is off by 4 hours for some reason. Will fix.

[2019-04-14 08:36] medvednikov commented on #70
Fixed.

[2019-04-14 08:36] #70 closed

[2019-04-14 09:44] medvednikov commented on #106
Fixed.

[2019-04-14 09:44] #106 closed

[2019-04-14 13:55] medvednikov commented on #91
Sorry for the delay.

Should be fine now, can you check?

[2019-04-14 14:09] MaxGraey opened #108 "Compilation took too long"
If code have at least one empty line before `main` function compiler print: `Compilation took too long`
[code]
But this compiles as expected:
[code]

[2019-04-14 16:00] medvednikov commented on #77
Fixed.

[2019-04-14 16:00] #77 closed

[2019-04-14 17:49] jkleiser commented on #91
It's a little better, but not perfect. See new screen shot below. The same in Safari and Chrome on Mac.
![vlang-icons](https://user-images.githubusercontent.com/107986/56096913-3e2ee980-5eee-11e9-8c36-bc7151cc95ff.png)

[2019-04-15 02:29] medvednikov commented on #91
Strange, works fine for me on Safari.

<img width="1004" alt="Screen Shot 2019-04-15 at 04 28 44" src="https://user-images.githubusercontent.com/687996/56104181-08fab980-5f37-11e9-8bc7-89e13aac9f18.png">

[2019-04-15 02:31] medvednikov opened #109 "Early access V binaries will be available today at 17:00 UTC"

[2019-04-15 03:27] #51 closed

[2019-04-15 03:55] shouji-kazuo commented on #109
I am very much looking forward to it !

[2019-04-15 05:48] krhubert opened #110 "Cannot access multidimensional array"
[code]

unexpected token `[`

[2019-04-15 11:43] medvednikov opened #111 "Cross-platform Tetris in 230 lines of V"
https://github.com/vlang/v/tree/master/examples/tetris

<img width="312" alt="tetris" src="https://user-images.githubusercontent.com/687996/56130133-5fdab000-5f84-11e9-9dc4-c565327a2e4c.png">

[2019-04-15 11:53] HedariKun commented on #109
will you release some sort of documentation about the built in libraries or something?

[2019-04-15 11:54] medvednikov commented on #109
Yes

[2019-04-15 14:57] ntrel commented on #71
I just found that `[]int` can be passed to a function. So perhaps empty optional initialization could be `opt := T?`.

[2019-04-15 15:26] ntrel opened #112 ".len is temporarily not allowed for security reasons"
Why is `arr.len` a security issue?

[2019-04-15 15:28] medvednikov commented on #112
Because it's not private yet, hacker can set it to 99999999, and access memory outside the array, since they are no longer blocked by the bounds check.

[2019-04-15 16:12] ntrel commented on #112
Thanks for explaining!

[2019-04-15 16:14] Spriithy opened #113 "Multi-dimentional array doesn't compile with empty inner array"
I would expect this

[code]

to compile, but instead it gives

[code]

I would expect the `[]`'s type to be inferred as `[0]`'s, which comes first in the array declaration.
Today I would otherwise write

[code]

which compiles fine (but should it really ?). But this raises some concern in me. `[]int` can be understood as both a type and a value. Go provides us with two options

[code]

Again,

[co

[2019-04-15 16:17] medvednikov commented on #113
Thanks, @Spriithy. Good finds.

I implemented basic multi-dimentional array support yesterday, it's still very unstable.

Will fix.

` []int` creates an empty int array. I don't like this syntax.

[2019-04-15 19:55] rusmonkey opened #114 "Doesn't work with example :)"
const (
        MAX = 15
)

struct Fib {
        nums []int
}

fn (fib mut Fib) calc(n int) int {
        if n <= 1 {
                return n
        }
        if fib.nums[n] != 0 {
                return fib.nums[n]
        }
        fib.nums[n] = fib.calc(n - 1) + fib.calc(n - 2)
        return fib.nums[n]
}

fn main() {
        mut fib := Fib {
                nums: [0; MAX]
        }

[2019-04-15 22:18] SirJosh3917 commented on #114
the fibonacci + memoization example is broken for me as well

[2019-04-16 02:22] hellojukay commented on #109
how can i install v language compile ?

[2019-04-16 02:29] xiusin commented on #29
期待到今天, 居然收费才能先玩, 我还是去写html吧.

[2019-04-16 03:53] Melon-Bread commented on #109
By giving him $30 on patreon

[2019-04-16 04:11] zeromake commented on #109
@hellojukay
[patreon](https://www.patreon.com/vlang)

[2019-04-16 05:53] #109 closed

[2019-04-16 11:07] sam543381 opened #115 "Idea"
Hey, I was wondering how capable is the c++ to v translation tool. More specifically is it able to translate dependencies.
If not, I believe implementing it would be a major improvement and help build an ecosystem and a community around v.
Since it is quite easy to learn, not so verbose and fast it might be easy to make V THE new language.
It would be cool if you could do something like :
v transl

[2019-04-16 14:04] twisted1919 opened #116 "Merging arrays errors out"
Running:

[code]
produces `You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

I expect to add the items together in the array.

[2019-04-16 15:14] andrewda commented on #115
Another option could be to allow C interop. For example, in Kotlin I can import any Java library and vice-versa. Obviously that isn't a perfect analogy because those are both JVM languages, but something similar in V with C/C++ would be really cool (without having to translate the dependencies).

[2019-04-16 15:57] medvednikov commented on #115
It's already allowed:

https://vlang.io/docs#calling_c

[2019-04-16 16:00] medvednikov commented on #115
@sam543381

The goal is to support the entire C++ standard. This is what I'm most excited about. The possibilities are endless.

[2019-04-16 16:02] medvednikov commented on #116
`types.append_array([...])` should do what you want.

`+` doesn't work with arrays.

[2019-04-16 16:03] medvednikov commented on #114
This was fixed yesterday.

Once I fix the modules bug I've been stuck with for hours, the fix will be live.

[2019-04-16 16:12] twisted1919 commented on #116
Gotcha, then maybe adjust the compiler to not throw this error in this case, that's the only reason i opened this thread :)
Also, `append_array` does not look like the best name, `merge_with` sounds much better and it's more intuitive.

[2019-04-16 22:00] zac-garby commented on #116
`merge_with` is less intuitive IMHO because it implies that it's actually _merging_ the arrays (i.e. as in merge sort).

[2019-04-16 22:02] zac-garby commented on #115
Roughly how long is it expected to take to translate C code to V? The way I see it, if it's faster than the C compiler then you've pretty much made a better `cc` compiler, which would be great.

[2019-04-17 05:01] medvednikov commented on #115
Compilation of translated C code will always be significantly faster.

I haven't benchmarked C to V translation yet.

[2019-04-17 11:54] MaxGraey opened #117 "Integer division by 0 always return one???"
[code]
#### Actual output:
1

#### Expected:
division by zero exception

[2019-04-17 12:16] MaxGraey opened #118 "Incorrect printing negative integers"
[code]
Print: `1-`
Expected: `-1`

[2019-04-17 13:45] mindplay-dk commented on #112
@medvednikov do you have an issue tracker somewhere else for private use? because this really seems like an important issue that ought to be tracked :-)

[2019-04-17 13:57] medvednikov commented on #112
@mindplay-dk what do you mean "for private use"?

This is the only issue tracker.

[2019-04-17 14:03] mindplay-dk commented on #112
Well, you closed the issue - so I was just wondering if you're tracking it somewhere else. It seems like an important issue that ought to be tracked, is all. Or maybe you fixed it already? :-)

[2019-04-17 14:25] sam543381 commented on #115
The ability to call C from V solves most of the ecosystem issue since everything has already been done in C. Awesome.
But when it comes to syntax … I've got a suggestion: let the compiler figure out when a function / struct comes from C (possible ?). It would eliminate the need for boilerplate code "C.fnA()" "C.structB{}" ...

[2019-04-17 15:00] medvednikov commented on #112
Ah, no I closed it by mistake. I reopened it almost immediately.

[2019-04-17 15:11] ntrel opened #119 "Array append can overwrite sliced (immutable?) data"
Below I'm using `mut` just so I can append, the array data could be immutable (see #41):
[code]
Appending to `arr` overwrites `slice[2]`. If the array data is immutable (with just the array reference mutable), then immutable data can be overwritten.

D prevents this by (IIUC) tracking if the end of a parent array has been sliced (and storing this metadata as part of the array memory allocation*, n

[2019-04-17 15:40] ntrel opened #120 "Function variable"
I see Go doesn't use function pointers, so I tried this:
[code]
Also how do we write function types?
[code]
(It would be nice if there was a way to ask the compiler to print the type of a symbol, in D I can write `pragma(msg, typeof(&main));` and it prints `void function()`).

[2019-04-17 16:18] MaxGraey opened #121 "Postfix increment is not expression?"
[code]
Output:
Fn "println" wrong arg `#1`. Expected "string" (s)  but got "void"

[2019-04-17 16:44] ntrel commented on #120
The inverse also compiles:
[code]

[2019-04-17 20:05] medvednikov commented on #119
Good find, thanks.

[2019-04-17 20:09] medvednikov commented on #121
No, it's not. Just like in Go.

[2019-04-17 20:09] #121 closed

[2019-04-18 01:45] xywf221 opened #122 "I might have found a bug."
I am run the example code for the fib, web tips me `You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

[2019-04-18 01:47] Ultraman95 opened #123 "how install vlang"
where vlang source not examples

[2019-04-18 02:09] di3663 commented on #123
看下官网,现在捐赠者才有资格,每月30美刀

[2019-04-18 02:22] xdray commented on #123
感觉东西很吊，但是不知道实际怎么样。特别是Hot Code Reloading，那个视频里能实时改方块的颜色,吊

[2019-04-18 02:31] di3663 commented on #123
https://vlang.io/play 这里可以试用,以实物为准,单看介绍是可以秒天秒地.

[2019-04-18 02:31] di3663 commented on #123
建议关闭issue

[2019-04-18 04:36] wenj91 commented on #123
不是很看好这个语言

[2019-04-18 07:11] arhen commented on #122
put your code here. how can we evaluate your code?

[2019-04-18 07:21] Ultraman95 commented on #123
每月30刀，看来是牛逼语言

[2019-04-18 07:21] Ultraman95 commented on #123
目前有点用不起

[2019-04-18 08:40] pengshaomin commented on #123
是哪位大佬主导？

[2019-04-18 08:45] medvednikov commented on #123
Hi,

Right now you can only use V in the playground.

It will be open sourced in June.

The lag in the hot code reloading you mentioned is an old bug, it was fixed. I need to update the demo.

[2019-04-18 08:45] #123 closed

[2019-04-18 09:14] xywf221 commented on #122
hi example code that here
[code]

[2019-04-18 09:58] medvednikov commented on #122
Duplicate of

https://github.com/vlang/v/issues/114

Will fix today.

[2019-04-18 09:58] #122 closed

[2019-04-18 10:11] medvednikov commented on #114
Fixed.

[2019-04-18 10:11] #114 closed

[2019-04-18 10:11] medvednikov commented on #122
Fixed.

[2019-04-18 10:15] xywf221 commented on #122
This is going to look great.

[2019-04-18 10:23] medvednikov commented on #117
Division by zero leads to undefined behavior in C.

I'm not sure what's the best way to catch it at runtime without causing performance loss.

For now I've added a compilation time check for dividing by zero. Will only work with literals of course.

[code]

[2019-04-18 10:23] #117 closed

[2019-04-18 11:06] medvednikov commented on #108
Fixed.

[2019-04-18 11:06] #108 closed

[2019-04-18 11:23] medvednikov commented on #118
Fixed.

[2019-04-18 11:23] #118 closed

[2019-04-18 11:24] #12 closed

[2019-04-18 11:27] MaxGraey opened #124 "Modulus by zero always return 1"
[code]
Output: 1
Expected: division by zero

Why you not fixed this in same time as #117 ?

[2019-04-18 11:47] nickHsiung opened #125 "bug: volt.exe Flip on Win10"
run volt.exe, click # icon . Flip on Win10.
I really want to use vlang.
                                       ---- From inside the Great Wall.

[2019-04-18 11:54] medvednikov commented on #125
https://github.com/voltapp/volt/issues

[2019-04-18 11:54] #125 closed

[2019-04-18 12:30] medvednikov commented on #124
What's wrong with your attitude?

[2019-04-18 12:50] MaxGraey commented on #124
If I had positioned my compiler as an educational or pet project then my attitude would be different but you positioned your project as commercial (fremium) and very ambiguous but you don’t pay proper attention to the details, which is very regrettable.

I will not continue the discussion in this vein, everything has already been said here: https://github.com/vlang/v/issues/35

[2019-04-18 12:51] ntrel commented on #117
I think division/modulus should first assert that the denominator is not zero. Then when compiling a program for release, asserts can be disabled if necessary.

[2019-04-18 12:57] ntrel commented on #124
I don't think it's a commercial project. Even with commercial projects, the user is not guaranteed that their bug will even get fixed. Alex is just funding the development by donations, and generously plans to release the language as open source.

[2019-04-18 12:58] MaxGraey commented on #124
@ntrel Early access only for sponsors is not commercial?

[2019-04-18 13:03] medvednikov commented on #124
The language is free, and will be open sourced in June. If you want to support the development, you can do it on Patreon. One of the supporters suggested adding early access option, and I did.

Your childish attitude in multiple topics is not welcome. Clearly you don't like the language as you stated multiple times, I have no no idea why you waste your time here.

[2019-04-18 13:03] ntrel commented on #124
More of an incentive for donors. I don't consider it commercial because (IMO) the project requires more work until it's ready and stable. It's a lot of work, living costs are expensive.

[2019-04-18 13:08] MaxGraey commented on #124
If you do not like issues that I find out of pure curiosity, I can stop my research. You don't seem to take criticism very well.

[2019-04-18 13:14] medvednikov commented on #124
I take criticism very well.

But when you name your issues "[bug] (again!)" or write "Why you not fixed this?", I have a problem with that.

[2019-04-18 13:17] MaxGraey commented on #124
Yes, because most issues is very simple and I wonder how with all of that you have self-hosted compiler and compile doom3 properly. For me it is a very big mystery

[2019-04-18 13:21] rab1 commented on #107
@MaxGraey  You are right, it doesn't have float properly.

[code]

Should return `3.3333333333333335`, and `v` returns `3.333333`

[2019-04-18 13:25] MaxGraey commented on #107
@rab1
Just check this:
[code]
Output: false

[2019-04-18 13:46] atif1996 opened #126 "Compilation speed test generated code is printf focused"
Few applications just sit there and print out lines to stdout.

Perhaps if I wanted a language to write a logger, this would be a useful comparison, but most of my code in a C++17, golang, java project do work.  Some applications are compute intensive where function inlining and FOPS matter (scientific computing/machine learning/engineering computations).  Other applications are network bound, mos

[2019-04-18 13:52] medvednikov commented on #124
I will publish it this month.

Not catching division by zero does not prevent writing a compiler.

[2019-04-18 13:52] #124 closed

[2019-04-18 13:55] medvednikov commented on #126
Agreed, and I mentioned this on the test's page.

If anyone has a better test, I'd be happy to use it instead. Right now I don't have time to work on this.

[2019-04-18 13:56] medvednikov commented on #126
Although I wouldn't call it irrelevant, because as the page says, the compilers face the same challenge.

[2019-04-18 22:16] stefanos82 commented on #97
I think it would be more than handy for us curious to get a read-only access to the language so we can take an idea how the language is implemented and report possible bugs and typos via ticketing.

Just a humble thought, nothing more.

I really need to get my hands dirty using it :laughing:

[2019-04-19 07:10] mindplay-dk commented on #97
I'm really curious what a web app in V looks like. Would you consider posting the forum source so we can take a look? :-)

[2019-04-19 12:16] stefanos82 commented on #97
By the way, I have browsed the documentation and haven't seen anywhere anything about exceptions.

Is it an undocumented mechanism or it's something that happens behind the scenes in a "magical" way?

[2019-04-19 14:52] MarisKori opened #127 "Regular expressions"
Are you going to add support of regexp?

I think it should be part of the language.
But it shouldn't increase binary size if not used.

[2019-04-19 15:27] ntrel commented on #127
I think with the right general language features, there's not really an advantage to having special syntax for regular expressions in the language. I think raw string support is planned, so `\` won't need escaping.

Also in the future it may be possible to compile a regular expression as a compile time `const` value. Then pass a runtime string to it for matching. (D and Rust can do this).

[2019-04-19 16:49] medvednikov commented on #127
@ntrel answered it the same way I would :)

[2019-04-19 16:49] #127 closed

[2019-04-19 17:19] medvednikov commented on #97
@mindplay-dk I planned to release the source in June, but I came to the same same conclusion as you: it would be really nice to have an example of a web app. So I'll release it next week after I implement templates. Right now there are no templates and the code is really ugly, Perl CGI style.

Postgresql/libpq.

There are no exceptions. Only Go-like panics.

[2019-04-19 17:38] zac-garby opened #128 "Negative number unexpectedly appearing"
I ran fibonacci example from the playground, except I changed `MAX` to be 100. It outputs the following:

[code]

The second-last line of the output has a negative sign at the start. My first thought was integer overflow, but that can't be the case firstly because the numbers are so small, but also because the next line is not negative.

[2019-04-19 17:51] stefanos82 commented on #97
I hope we don't see any `if err != nil` with V, much like we see in Golang lol!

[2019-04-19 18:04] medvednikov commented on #97
https://vlang.io/compare
https://vlang.io/docs#option

Option types are used for error handling. There's no `nil` in V.

[2019-04-19 18:16] medvednikov commented on #128
Everything works as expected:

[code]

https://play.golang.org/p/_DjR1GSKZVz

[code]

[2019-04-19 18:16] #128 closed

[2019-04-19 18:18] #111 closed

[2019-04-19 18:31] fuzzthink commented on #128
"Works as expected" may need a little explanation ;)

You're on the right track @zac-garby , thinking "integer overlow".

This should do (playground won't output due to > 1 sec)

[code]

[2019-04-19 19:27] medvednikov commented on #128
Yes, i32 results in overflows, i64 should be used for large numbers.

[2019-04-19 20:06] andrewda opened #129 "Option type default value"
Take the example given in the [documentation](https://vlang.io/docs#option):

[code]

This will simply terminate the program if the user is not found. What if I instead wanted to specify a default value to use in this case? Kotlin handles this very elegantly, in my opinion, with the [Elvis operator](https://kotlinlang.org/docs/reference/null-safety.html#elvis-operator):

[code]

Another way I coul

[2019-04-19 21:16] zac-garby commented on #128
Huh, I really overestimated the maximum value of 32-bit integers.

[2019-04-19 21:24] medvednikov commented on #129
Yes, I thought about this. Most like likely the second option will be implemented:

[code]

[2019-04-19 21:57] stefanos82 commented on #97
Mind...BLOWING! :boom:

Can we get it already?!

Seriously now @medvednikov we really **really** need to use it, like...yesterday!

[2019-04-20 01:55] ansarizafar commented on #97
@medvednikov  I wish for a [Svelte/Sapper V3](https://svelte.dev/) like framework for building isomorphic web apps with V + web assembly. Someone is already working on a Rust version of Svelte V3.

Rust also has few other fameworks for building isomorphic/client web apps
https://github.com/chinedufn/percy
https://github.com/DenisKolodin/yew

[2019-04-20 05:18] bronze1man opened #130 "bug of if"
I just want to know whether vlang if statement will create a new scope or not. then the complier tell me to go here.

Put follow code into this page https://vlang.io/play
[code]
Then I got `You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

[2019-04-20 06:10] medvednikov commented on #130
Thanks for reporting. The scopes are broken.

[2019-04-20 06:30] ofunc opened #131 "How to use function as variable or arguments?"
[code]

ERROR: expected `)` but got `(`

[2019-04-20 06:33] bronze1man commented on #130
What will happen if the `if` statement do not create a scope?
I hate the `if` statement scope in golang. It force me to define a variable outside the `if` scope.

[2019-04-20 08:08] medvednikov commented on #131
This is not implemented yet. Later this month.

[2019-04-20 09:07] zac-garby commented on #130
The reason that you must defined the variable outside is that if you were allowed to define one inside and then use it after the if-statement has closed, it would potentially not be defined (e.g. if it was only defined in the `if` clause, not the `else`), which would lead to an error.

[2019-04-20 10:20] ntrel commented on #130
If V gets function literals (and closures), then `types` can be immutable:
[code]

[2019-04-20 10:34] bronze1man commented on #130
So we can add a rule, if the variable is not defined in some branchs, then it will be the zero value in that branch. The zero value of golang struct field is very good for me.

[2019-04-20 10:41] bronze1man commented on #130
Is there any benefit for the human to defined that variable `types` to be immutable?
The function literals make it more complex, I need to understand (but it is easy to understand) where the expr variable come from?Is the `expr` pass in by value or by pointer? when will this function literals be called?

[2019-04-20 10:47] medvednikov commented on #130
Blocks create scopes in all languages.

Once if expressions are implemented, you will be able to do

[code]

[2019-04-20 10:56] bronze1man commented on #130
I do not think so all languages are doing this. But it seems like that the new program language(golang/swift/zig), try to make if statement create a scope.
* In js ,if statement do not create a scope of the variable created by the `var` statement.
* in php5, if statement do not create a scope either.

For example, I may want write some code like this:
[code]

But I can only write like this with go

[2019-04-20 11:03] bronze1man opened #132 "bug of scopes"
may be same bug as #130

Put follow code into this page https://vlang.io/play
[code]
Then I got `You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

[2019-04-20 11:05] bronze1man opened #133 "bug of compiler type check"
Put follow code into this page https://vlang.io/play
[code]
Then I got
[code]

[2019-04-20 11:08] bronze1man opened #134 "unused variables should not be allowed"
Put follow code into this page https://vlang.io/play
[code]
The program run successfully.

I think the compiler should say that `unused variable types2`
If a variable is only defined, but not read, the compiler should report an error to prevent the programer write the wrong variable name. (like golang)

[2019-04-20 11:13] bronze1man opened #135 "bug of compiler type check 2"
May be relative to #133

Put follow code into this page https://vlang.io/play
[code]
Then I got `You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

simpler version:
[code]

[2019-04-20 11:21] bronze1man opened #136 "bug of stack size check"
Put follow code into https://vlang.io/play
[code]
Then I got nothing.

But When I change the `1000000` to `100000`, it will output some overflowed int result.
Follow code will get time out error like `Your program was running for too long (> 1 sec)`:
[code]
I think there may be process crash or other bad stuff happened. The playground just can not handle it.

[2019-04-20 11:27] bronze1man opened #137 "compiler should check int overflow"
Compiler should check int overflow, and report an error.

Put follow code into https://vlang.io/play
[code]
Then I got `1410065408 `

[2019-04-20 11:32] bronze1man opened #138 "will newline '\n' be treated as end of statement?"
Will newline '\n' be treated as end of statement?
[code]

Got
[code]

Looks like line 2 is connected to line3

[2019-04-20 11:47] bronze1man opened #139 "dereferencing is temporarily disabled on the playground, will be fixed soon"
[code]
I got
[code]

Waiting for your fix

[2019-04-20 11:48] bronze1man opened #140 "bug of compiler type check 3"
may relative to #133
[code]
got
[code]

[2019-04-20 11:51] ntrel commented on #130
Yes, it's much easier to reason about code, less bug prone, and immutable data can be shared across threads without races.

Yes, Alex's `if` expression is a better solution here, but sometimes you need statements in one branch of the `if` construct to calculate the initialization value.

It can be any expression.

I expect variable references in a closure would be by pointer (at least by default).

[2019-04-20 11:54] bronze1man opened #141 "bug of interface"
[code]
I got `You just found a bug. V can't compile this program, but it should. Please create a GitHub issue.`

[2019-04-20 11:57] bronze1man commented on #130
Inneed. But golang  only have part of it...

May be I am wrong, if block may be better to reduce error of human.

[2019-04-20 12:00] bronze1man opened #142 "bug of json.decode"
[code]
output
[code]
What is tos?

[2019-04-20 12:01] ntrel commented on #97
Great news! It would also be good to open source the standard library IMO even before the compiler is released.

[2019-04-20 12:03] medvednikov commented on #130
This is actually a terrible practice and goes against the philosophy of V, and is not allowed in all non-dynamic languages.

[2019-04-20 12:05] bronze1man opened #143 "bug of void"
[code]
Then I got:
[code]

[2019-04-20 12:07] medvednikov commented on #142
The decoder gets confused because it expects a string but gets an int. Will fix.

[2019-04-20 12:11] bronze1man opened #144 "bug of type check 4"
may relative to #133
[code]
Then I got
[code]

[2019-04-20 12:14] bronze1man opened #145 "bug of type check 5"
may relative to #133
[code]
Then I got
[code]

[2019-04-20 12:18] bronze1man opened #146 "bug of type check 6"
may relative to #133
[code]
output nothing.
Where is the 'success' output? The process may crash.

[2019-04-20 12:19] bronze1man commented on #130
Thanks for your explanation.

[2019-04-20 12:19] ntrel opened #147 "`TypeName!` syntax for generic function type inference"
I've written a short article proposing syntax for inferring generic function types:
https://github.com/ntrel/vdev/blob/master/arg-infer.md

It discusses why this syntax for inference is not ideal:
[code]
And proposes `TypeName!` instead:
[code]
(I'll probably post this to the forum too later).

[2019-04-20 12:25] bronze1man opened #148 "string indexing is temporarily disabled on the playground, will be fixed soon"
[code]
output:
[code]
Wait for len and string indexing function.
Since len and string indexing is disabled on the playground,I can not rewrite my json string parser into vlang to get the feeling of vlang.

[2019-04-20 12:34] bronze1man opened #149 "bug of type check 7"
#133
[code]
Then I got:
[code]

It should be a compiler error.

[2019-04-20 12:35] bronze1man opened #150 "bug of type check 8"
#133
[code]
Then I got:
[code]

[2019-04-20 13:46] zac-garby commented on #147
Another way to distinguish between concrete types and type parameters is by writing type parameters in lowercase, such as in Haskell. I personally prefer this way because it prevents the need to add extra punctuation.

The only downside of this would be that concrete types couldn't begin with lowercase letters, but in reality this isn't a problem.

So this would make the `print` example look like:

[2019-04-20 13:52] zac-garby commented on #130
A possible solution might be something like this:

[code]

Here, the `export` keyword is used to inject a variable into the enclosing scope, meaning you are allowed to use that variable outside of the if-block.

This reduces the ambiguity where you might not know if a variable is available outside the block, and also means you have to explicitly ask for the feature, in which case you will have to

[2019-04-20 14:20] ntrel commented on #147
Some type parameters can be inferred, some not (e.g. new_repo in the docs). Writing non inferred type parameters in lower case too doesn't solve the inference problem.

Also compare the receiver parameter `Repo<T!>` to `Repo<t>`, which one stands out the most as saying that the function is generic?

As well as this, V already has lower case type names, int, bool etc.

[2019-04-20 14:26] ntrel commented on #147
Another issue is that for `Repo<t>`, lowercase identifiers like `t` are also used for variables. Like D and C++, it's possible V might later want to allow template parameterization on a constant or even variable name (see D alias parameters if interested). Lowercase type parameters for inference would conflict with that.

[2019-04-20 14:34] ntrel commented on #138
It might work by only looking at the next line of the current line isn't a complete expression. So I think this error is correct. `[]` has no valid type. `a := []T` means declare an empty array of type T.

[2019-04-20 15:06] medvednikov commented on #147
Thanks for the write up. I don't have an opinion yet, will need to think about it and do research.

Just one thing: there's already a rule on naming types. V types must start with a capital letter. So perhaps we can just prohibit creating types that have only one letter and use them for generics. That solves the original problem you described.

[2019-04-20 15:08] medvednikov commented on #130
This is making the language more complex with no clear benefit. What's wrong with scoped variables?

[2019-04-20 15:16] zac-garby commented on #130
The benefit is that you don't have to explicitly define a variable outside of a scope in the case that you will only define its value inside that scope when you want to use that variable after the scope has closed. Admittedly, it's only a small benefit, but it would be useful.

[2019-04-20 15:17] ntrel commented on #147
The problem is we need a way of marking a generic type as inferred, this means we don't need to write it in the template argument list. Not all generic type parameters can be inferred, so that wouldn't solve the problem.

[2019-04-20 15:19] ntrel commented on #147
BTW your idea would work if non-inferred generic type arguments weren't allowed to use a single letter.

[2019-04-20 15:20] zac-garby commented on #147
What conditions could cause a type parameter to be ambiguous and not be able to be inferred?

[2019-04-20 15:24] ntrel commented on #147
Zac:
[code]

[2019-04-20 15:28] zac-garby commented on #147
What can't be inferred here? I might be missing something - I'm more used to generics in Haskell which may be slightly different.

(Also, I think you may be missing the return type on that function)

[2019-04-20 15:32] ntrel commented on #147
T can't be inferred there because there's no argument to infer it from, it's a user-supplied type argument. The return type is `Repo<T>`. This function is from the docs, (slightly simplified by omitting `db`, which isn't relevant).

[2019-04-20 15:41] zac-garby commented on #147
But surely `T` in `Repo<T>` could be inferred from the context in which it is used once it has been returned from the function? In that, the function could be written like:

[code]

And be either unambiguous (if the specialisation of `Repo` can be derived from its usage); or, be ambigous, in which case a programmer-specified type could not be correct according to the language's type system because

[2019-04-20 16:15] ntrel commented on #147
Zac the return type of new_repo can indeed be inferred from the function body (that's why I didn't write it earlier).

But until the Repo is created, the type parameter of new_repo cannot be known. That function creates the Repo struct instance. Doing complex inference based on how new_repo's result is used in the caller's code does not seem like a straightforward or reliable strategy. Supplying t

[2019-04-20 16:19] ntrel commented on #147
Let's make it less abstract, suppose we want to wrap creation of an empty array:
[code]

[2019-04-20 16:40] medvednikov commented on #130
If you need to use the variable outside a certain scope, then why define it in that scope? :) Just define it in the parent scope.

[2019-04-20 18:22] BlackEspresso opened #151 "octal numbers with digits greater 7 crashes compiler"
the following program crashes on compilation. As soon as the zero is removed (or digits forms a valid octal number) the program compiles
[code]

[2019-04-20 20:36] BlackEspresso opened #152 "free memory access"
can read and write to programm memory even with disabled pointer derefernce. just by reassigning a mutable pointer. `mut p := &Point{}`

[code]

[2019-04-20 23:14] zac-garby commented on #147
Sorry about the late reply. Yeah, I see that T can be any type. I agree that the inference based on the calling code would not be straightforward (I have absolutely no idea how it would be implemented myself), but it’s absolutely reliable.

[2019-04-20 23:43] 0x9ef opened #153 "Single quote for strings?"
Why you use single quote for strings but no standart quote "" for strings? In my opinion single quotes should be use for signel unicode charset, but not for multi characters strings. Its looks like PHP :d

[2019-04-21 00:17] 0x9ef opened #154 "Have a XOR operator and what is operations priority?"
I dont see XOR operator ^ anywhere . V Lang have a XOR operator? And what are the priorities of arithmetic operations?

[2019-04-21 07:37] ntrel commented on #152
I think V should be memory safe by default, but allow unsafe operations like pointer arithmetic inside `unsafe` blocks like Rust.

[2019-04-21 07:46] BlackEspresso opened #155 "using int as variable names crashes compiler"
using a variable called 'int' leads to an compile error. other basic types like i8,string, ... can be used as variable names.
[code]

[2019-04-21 07:55] medvednikov commented on #155
Duplicate of https://github.com/vlang/v/issues/102

[2019-04-21 07:55] #155 closed

[2019-04-21 07:57] ntrel commented on #147
There are cases where the type can't be inferred even from how the caller uses the result:
[code]
All structs may be printable, so we can't infer T. Same for calling s.str(). There will always be ambiguous cases where supplying T manually is required. As well as compiler code complexity of this inference, it would also be slow. I don't think it's worth having.

[2019-04-21 07:57] medvednikov commented on #152
Yes, pointer arithmetic is allowed, it's used a couple of times in vlib. `unsafe` blocks will be added.

[2019-04-21 08:04] ntrel commented on #149
Maybe rename this issue: Array index must be an integer. It looks like V allows implicit conversion to integer here.

[2019-04-21 08:08] medvednikov commented on #152
I've just disabled pointer arithmetic in the playground for security reasons.

[2019-04-21 08:08] #152 closed

[2019-04-21 08:17] medvednikov commented on #154
I had `^=` implemented but not `^` :) Fixed.

The developer will be required to specify it via `()`.

[2019-04-21 08:17] #154 closed

[2019-04-21 08:22] medvednikov commented on #149
Fixed.

`expected type int`

[2019-04-21 08:22] #149 closed

[2019-04-21 08:24] medvednikov commented on #153
Python as well.

This decision is not final.

In my opinion they look cleaner and don't require shift on most keyboards.

[2019-04-21 08:32] medvednikov commented on #151
Fixed: `malformed octal constant`

[2019-04-21 08:32] #151 closed

[2019-04-21 08:35] medvednikov commented on #138
Indeed, for now new lines are simply skipped. This hasn't been a problem yet, but it may be in the future. Then they will be handled like in Go.

As for this example @ntrel is correct. There's a syntax error, and it's handled correctly.

[2019-04-21 08:36] medvednikov commented on #137
Duplicate of https://github.com/vlang/v/issues/137

[2019-04-21 08:36] #137 closed

[2019-04-21 09:44] zac-garby commented on #147
The problem here is that, since the struct is empty, it would always just be printed as an empty struct, regardless of its specialisation, so no problem has actually occurred (the value can remain a generic type). If, however, some value was added inside the struct, its type could be inferred.

If there are cases where the type can't be inferred, just as in other languages, optional type annotatio

[2019-04-21 09:46] zac-garby commented on #153
I think it's useful to have both variants, because I much prefer using double quotes, but I know that a lot of people prefer using single quotes. Also, I mentioned before that it removes some cases where escape sequences would be necessary otherwise.

[2019-04-21 09:48] medvednikov commented on #146
Works for me.

[2019-04-21 09:48] zac-garby commented on #131
Also, not that it's a huge problem, but shouldn't the error say "expected `)` or `,`, but got `(`", since a comma would be valid in that situation?

[2019-04-21 09:49] medvednikov commented on #131
Yes, function args errors are very primitive right now.

[2019-04-21 09:51] medvednikov commented on #153
Double quotes will be allowed, but converted to single quotes by vfmt for consistency. Unless the string contains `'`.

[2019-04-21 09:55] medvednikov commented on #145
Fixed.

[code]

[2019-04-21 09:55] #145 closed

[2019-04-21 09:59] medvednikov commented on #140
Fixed.

[2019-04-21 09:59] #140 closed

[2019-04-21 10:00] medvednikov commented on #144
Fixed.

[2019-04-21 10:00] #144 closed

[2019-04-21 10:03] medvednikov commented on #143
Fixed.

[2019-04-21 10:03] #143 closed

[2019-04-21 10:03] zac-garby commented on #153
I like that idea.

[2019-04-21 10:10] medvednikov commented on #134
Agreed. This is a big change, will do this later.

[2019-04-21 10:23] 0x9ef opened #156 "Formatter bug"
I found bug of source code formatter on https://vlang.io/play .
This works only with functions.

If you try this code:

[code]

You will get:
[code]

Formatter automatic adding a block `{}` of local visible code.
[code]

[2019-04-21 10:28] 0x9ef opened #157 "bug of compiler syntax check"
Try this code:

[code]

After formatting you will get:
[code]

This code should not compile a priori , because we have an unfinished block of code.
And if you try to adding some more `{{{ ` to code, compiler wont say anything ;d
[code]

[2019-04-21 14:21] ntrel commented on #147
I've not used it, but I think Hindley–Milner type inference is closer to what you want, and Rust seems to have it:
https://doc.rust-lang.org/rust-by-example/types/inference.html

That example relies on the compiler knowing that vec is some instance of Vec, so when a method is called it can match the argument type with the instance type parameter. I think this is more limited than what you're askin

[2019-04-21 14:31] zac-garby commented on #147
That's the one I was thinking of, yeah. It's a good point about compilation speed, because I know that compile time is one of the goals for V, so perhaps it's not such a good idea for these types to be inferred after all.

[2019-04-21 14:34] ntrel commented on #129
As the block just contains an expression, not statement(s), why not make `or` an expression instead:
[code]

[2019-04-22 01:02] #146 closed

[2019-04-22 01:55] xywf221 commented on #156
I'm not quite sure what you're trying to say, and my understanding is that you think `{}` wraps up the code block, but it executes normally, and I don't think it's a bug: ]

[2019-04-22 02:24] xywf221 opened #158 "It's probably a bug."
I'm trying to run the following code
[code]
output : `test.v:3. Unexpected token: ') '`,I think he should have given me the error. The function parameter is empty

[2019-04-22 02:45] tonylinyy opened #159 "compile error without a new line"
the code is:
fn main() {
	println('v')
}
get a panic:
V panic: string index out of range: 27 / 27

if I press enter after the },compile will success
fn main() {
	println('v')
}
--here add a new empty line

[2019-04-22 03:26] ofunc commented on #159
I can't reproduce this problem.

[2019-04-22 03:38] tonylinyy commented on #159
I use v compiler not the web playground

[2019-04-22 03:42] di3663 commented on #159
update the compiler perhaps

[2019-04-22 06:45] 0x9ef commented on #156
No, this shold be syntax error without block-code modifiers. See same Golang, this syntax is not correct syntax. Or let the author add support C-style syntax for block of code.

[2019-04-22 07:52] ntrel commented on #158
That is the error ;-)

I think it's planned for println to accept multiple arguments. If so probably no arguments could be supported too. (So this would hopefully be a new language feature: variadic function arguments. And println would be a standard library function).

[2019-04-22 09:20] ntrel commented on #158
But yes, it would be better for V to print the function signature when the argument types or argument count do not match the function parameter(s).

[2019-04-22 09:23] ntrel commented on #130
On the proposed if expression syntax:
[code]
Those braces seem quite noisy, and they can't contain statements despite looking like a statement block. Avoiding nesting of brackets and braces helps when reading complex code.

Alternative syntax options:
[code]
Related: https://github.com/vlang/v/issues/129#issuecomment-485256510

[2019-04-22 10:02] tonylinyy opened #160 "panic when import standard module"
code is :
module main
import os

fn main(){
    println(os.args)
}

result:
errno=2 err='No such file or directory'
V panic: /Users/alex/code/lang//os doesnt exist
i use the early_v_mac,version is v0.0.1

[2019-04-22 10:49] ntrel commented on #130
Actually this seems more distinctive:
[code]

[2019-04-22 11:39] medvednikov commented on #130
they can

[code]

[2019-04-22 11:40] medvednikov commented on #160
Strange. Worked fine when I tested on a clean machine. Will push a fix soon, thanks for reporting.

[2019-04-22 11:55] ntrel commented on #130
Ok, thanks. So I suppose the same goes with #129:
`v := opt or {st(); expr}`

[2019-04-22 14:26] tonylinyy opened #161 "compile custom module,but nothing happen"
here is sample code:
module mymodule

fn add(x,y int) int {
    return x+y
}
then: v ./mymodule.v
but,nothing happen
in main module import mymodule
got a panic:
V panic: /Users/alex/code/lang//mymodule doesnt exist

[2019-04-22 14:58] medvednikov commented on #161
After I release 0.0.2 with the panic fixed, try creating `mymodule` dir and then run

`v -lib mymodule`

[2019-04-22 22:33] carueda commented on #120
This simply seems to suggest that type checking is just partially implemented at this point.

[2019-04-23 01:58] seven1240 opened #162 "compile problem on OSX"
nearly all examples fails except hello_world

[code]

[2019-04-23 07:49] stefanos82 commented on #97
@medvednikov Is there a particular reason you are not closing body and html tags in forum HTML code?

[2019-04-23 07:58] medvednikov commented on #97
I implemented header.html, but not footer.html. Will fix.

[2019-04-23 08:10] stefanos82 commented on #97
Cool :+1:

[2019-04-23 08:40] medvednikov commented on #158
Fixed:
[code]

[2019-04-23 08:40] #158 closed

[2019-04-23 08:40] medvednikov commented on #158
Yes, varargs will be supported.

[2019-04-23 08:47] medvednikov commented on #120
Type checking is implemented, and it's very strict. I allowed some exceptions to enable pointer arithmetic in standard library, should have implemented `unsafe` for that.

Will fix.

[2019-04-23 09:00] GordonGgx opened #163 "Lamdbas"
V is a great language. It would be great to have lamdba support. Thanks @medvednikov

[2019-04-23 09:02] tonylinyy opened #164 "Dose for in not support string?"
Dose for in not support string?

[2019-04-23 09:11] GordonGgx commented on #141
There's something wrong with your writing.
interface method should:
[code]
not
[code]
because it class method.
I think so.

[2019-04-23 09:15] medvednikov commented on #164
Sorry, don't understand the question.

[2019-04-23 09:16] medvednikov commented on #141
@GordonGgx you are correct.

The compiler should handle the incorrect syntax with something like

`invalid receiver type Speaker (Speaker is an interface type)`

[2019-04-23 09:19] medvednikov commented on #141
Fixed.

[2019-04-23 09:19] #141 closed

[2019-04-23 09:20] medvednikov commented on #163
Yes, it will :)

[2019-04-23 09:27] GordonGgx commented on #163
That's great.

[2019-04-23 09:29] zac-garby commented on #164
I think he means "can a for-loop iterate over the characters in a string?"

[2019-04-23 09:53] tonylinyy commented on #164
@zac-garby yes,like this:
for char in string {
	...
}

[2019-04-23 11:52] medvednikov commented on #164
Now you can:

[code]

UTF-8 is not handled yet, but it will be like Go's `range str` soon.

[2019-04-23 12:31] #164 closed

[2019-04-23 12:53] tonylinyy commented on #164
I run your code,here is the error message:
`for in` requires an array but got `string`

[2019-04-23 13:26] medvednikov commented on #162
0.0.2 is out, please try it.

[2019-04-23 13:26] medvednikov commented on #161
0.0.2 is out, please try it.

[2019-04-23 13:26] medvednikov commented on #160
0.0.2 is out, please try it.

[2019-04-23 13:39] tonylinyy commented on #160
I tried,it works,good job

[2019-04-23 13:57] tonylinyy commented on #161
I tried,it works,so exciting...
I found the custom module will be comiled to /var/tmp/lang/vlib,It is ok now
may be we can  set the VPATH in the future,just like GOPATH :)

[2019-04-23 14:00] tonylinyy commented on #159
this problem still in my macos,after I upgrade to V0.0.2
I try with sublime text and idea,all the same

[2019-04-23 14:31] medvednikov commented on #159
I can't reproduce this, will investigate.

[2019-04-23 14:32] medvednikov commented on #161
Of course, it will be flexible. I literally built this this morning :)

[2019-04-23 14:50] cjmxp opened #165 "Whether macros will be added or not is necessary in many cases."
Whether macros will be added or not is necessary in many cases.

[2019-04-23 14:52] cjmxp commented on #165
I like V very much. He looks like go2 in my dream.

[2019-04-23 14:58] tonylinyy opened #166 "about import and const,something strange"
hi,I try the code:
import os
import my_module
---above code is compiled
import (
	os
	my_module
)
---with (),get an error:bad import format

but const is different:
const PI=3.14
---without(),get an error:expected `(` but got `PI`
const (
	A=1
	B=2
)
---with () code is compiled

[2019-04-23 14:59] medvednikov commented on #165
This decision is not final, but right now I think there shouldn't be macros.

The goal of V is a simple language for building maintainable software. Macros are nice, but they can make large code bases very confusing. Every will developer has an option to extend the language, thus readability suffers.

[2019-04-23 15:00] medvednikov commented on #166
[code]
is incorrect syntax at the moment, it shouldn't compile

[2019-04-23 15:05] cjmxp commented on #165
I see. Thank you.